Repository sstr-dev/infrastructure, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/scripts, area/talos, area/taskfile, area/renovate, area/terraform, area/ansible, cluster/core, cluster/casa

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - .renovate/**/*
          - .renovaterc.json5
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
# Cluster
cluster/core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/core/**/*
cluster/casa:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/casa/**/*

nvidia-device-plugin
  kubernetes/apps/base/kube-tools/nvidia-device-plugin/helmrelease.yaml
Labels: area/kubernetes

nvidia-device-plugin not woprk now, fix later
  kubernetes/apps/casa/kube-tools/kustomization.yaml
Labels: area/kubernetes, cluster/casa

downgrade sidecar
  kubernetes/apps/base/observability/gatus/helmrelease.yaml
Labels: area/kubernetes

dashboard update
  kubernetes/apps/base/home-automation/teslamate/dashboards/custom/AmortizationTracker.json
  kubernetes/apps/base/home-automation/teslamate/dashboards/custom/ChargingCostsStats.json
  kubernetes/apps/base/home-automation/teslamate/dashboards/custom/ChargingCurveStats.json
  kubernetes/apps/base/home-automation/teslamate/dashboards/custom/ContinuousTrips.json
  kubernetes/apps/base/home-automation/teslamate/dashboards/custom/CurrentChargeView.json
  kubernetes/apps/base/home-automation/teslamate/dashboards/custom/MileageStats.json
  kubernetes/apps/base/home-automation/teslamate/dashboards/custom/SpeedTemperature.json
  kubernetes/apps/base/home-automation/teslamate/dashboards/custom/TrackingDrives.json
Labels: area/kubernetes

downgrade sidecar
  kubernetes/apps/base/observability/grafana/helmrelease.yaml
Labels: area/kubernetes

fix image version
  kubernetes/apps/base/observability/grafana/helmrelease.yaml
Labels: area/kubernetes

try fix datasource
  kubernetes/apps/base/observability/grafana/helmrelease.yaml
Labels: area/kubernetes

container start
  kubernetes/apps/base/home-automation/scrypted/helmrelease.yaml
Labels: area/kubernetes

ocs and gatus
  kubernetes/apps/base/observability/gatus/helmrelease.yaml
  kubernetes/apps/base/self-hosted/ocsinventory/helmrelease.yaml
Labels: area/kubernetes

calibre-web-automated update
  kubernetes/apps/base/media/calibre-web-automated/helmrelease.yaml
Labels: area/kubernetes

gatus sidecar memory limit
  kubernetes/apps/base/observability/gatus/helmrelease.yaml
Labels: area/kubernetes

homepage cleanup
  kubernetes/apps/casa/self-hosted/config/homepage/files/services.yaml
Labels: area/kubernetes, cluster/casa

disabled pterodactyl
  kubernetes/apps/casa/games/kustomization.yaml
Labels: area/kubernetes, cluster/casa

remove pterodactyl from hp
  kubernetes/apps/casa/self-hosted/config/homepage/files/services.yaml
Labels: area/kubernetes, cluster/casa

tika
  kubernetes/apps/base/self-hosted/paperless/tika/helmrelease.yaml
Labels: area/kubernetes

(add) paperless-gpt
  kubernetes/apps/base/llm/paperless-gpt/externalsecret.yaml
  kubernetes/apps/base/llm/paperless-gpt/helmrelease.yaml
  kubernetes/apps/base/llm/paperless-gpt/kustomization.yaml
  kubernetes/apps/casa/llm/kustomization.yaml
  kubernetes/apps/casa/llm/paperless-gpt.yaml
Labels: area/kubernetes, cluster/casa

config
  kubernetes/apps/base/llm/paperless-gpt/helmrelease.yaml
Labels: area/kubernetes

model
  kubernetes/apps/base/llm/paperless-gpt/helmrelease.yaml
Labels: area/kubernetes

model
  kubernetes/apps/base/llm/paperless-gpt/helmrelease.yaml
Labels: area/kubernetes

ollama
  kubernetes/apps/base/llm/paperless-gpt/helmrelease.yaml
Labels: area/kubernetes

limits
  kubernetes/apps/base/llm/paperless-gpt/helmrelease.yaml
Labels: area/kubernetes

LLM_LANGUAGE
  kubernetes/apps/base/llm/paperless-gpt/helmrelease.yaml
Labels: area/kubernetes

minicom
  kubernetes/apps/base/llm/paperless-gpt/helmrelease.yaml
Labels: area/kubernetes

qwen3:8b
  kubernetes/apps/base/llm/paperless-gpt/helmrelease.yaml
Labels: area/kubernetes

qwen3:4b-instruct-2507-q4_K_M
  kubernetes/apps/base/llm/paperless-gpt/helmrelease.yaml
Labels: area/kubernetes

llama3.2
  kubernetes/apps/base/llm/paperless-gpt/helmrelease.yaml
Labels: area/kubernetes

llama
  kubernetes/apps/base/llm/paperless-gpt/helmrelease.yaml
Labels: area/kubernetes

model
  kubernetes/apps/base/llm/paperless-gpt/helmrelease.yaml
Labels: area/kubernetes

limits
  kubernetes/apps/base/llm/paperless-gpt/helmrelease.yaml
Labels: area/kubernetes

lng
  kubernetes/apps/base/llm/paperless-gpt/helmrelease.yaml
Labels: area/kubernetes

lng
  kubernetes/apps/base/llm/paperless-gpt/helmrelease.yaml
Labels: area/kubernetes

chore(cnpg): drop cosign
  kubernetes/apps/base/database/cnpg/helmrelease.yaml
Labels: area/kubernetes

chore(app-template): drop cosign
  kubernetes/components/common/repositories/oci/app-template.yaml
Labels: area/kubernetes

n8n pg init
  kubernetes/apps/base/automation/n8n/externalsecret.yaml
  kubernetes/apps/base/automation/n8n/helmrelease.yaml
Labels: area/kubernetes

n8n proxy hops
  kubernetes/apps/base/automation/n8n/helmrelease.yaml
Labels: area/kubernetes

gh and workstation task
  .taskfiles/Repository/Taskfile.yaml
  .taskfiles/Workstation/Taskfile.yaml
  .taskfiles/Workstation/resources/Brewfile
Labels: area/taskfile

downgrade chart
  kubernetes/apps/base/vpn-gateway/downloads-gateway/helmrelease.yaml
Labels: area/kubernetes

postrender
  kubernetes/apps/base/vpn-gateway/downloads-gateway/helmrelease.yaml
Labels: area/kubernetes

redeploy gateway
  kubernetes/apps/casa/vpn-gateway/kustomization.yaml
Labels: area/kubernetes, cluster/casa

gtw
  kubernetes/apps/casa/vpn-gateway/kustomization.yaml
Labels: area/kubernetes, cluster/casa
