Repository sstr-dev/infrastructure, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/scripts, area/talos, area/taskfile, area/renovate, area/terraform, area/ansible, cluster/core, cluster/casa

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - .renovate/**/*
          - .renovaterc.json5
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
# Cluster
cluster/core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/core/**/*
cluster/casa:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/casa/**/*

gendev
  kubernetes/apps/base/kube-tools/generic-device-plugin/helmrelease.yaml
Labels: area/kubernetes

sso
  kubernetes/apps/base/sso/authentik/helmrelease.yaml
Labels: area/kubernetes

sso
  kubernetes/apps/base/sso/authentik/helmrelease.yaml
Labels: area/kubernetes

webui
  kubernetes/apps/base/llm/open-webui/helmrelease.yaml
Labels: area/kubernetes

prom
  kubernetes/apps/base/observability/kube-prometheus-stack/helmrelease.yaml
Labels: area/kubernetes

casa
  kubernetes/apps/casa/observability/config/blackbox-exporter-probes/devices-v4.yaml
  kubernetes/apps/casa/observability/config/nut-exporter-probes/probes.yaml
Labels: area/kubernetes, cluster/casa

prepare for new mount
  kubernetes/apps/casa/download/kustomization.yaml
  kubernetes/apps/casa/media/kustomization.yaml
Labels: area/kubernetes, cluster/casa

jeli
  kubernetes/apps/base/media/jellyfin/helmrelease.yaml
Labels: area/kubernetes

jelly
  kubernetes/apps/casa/media/kustomization.yaml
Labels: area/kubernetes, cluster/casa

arr
  kubernetes/apps/base/download/radarr/helmrelease.yaml
  kubernetes/apps/base/download/sonarr/helmrelease.yaml
  kubernetes/apps/casa/download/kustomization.yaml
Labels: area/kubernetes, cluster/casa

revert local path
  kubernetes/apps/base/storage-system/local-path-provisioner/sc-fast/fast-deployment.yaml
  kubernetes/apps/base/storage-system/local-path-provisioner/sc-standard-default/standard-deployment.yaml
Labels: area/kubernetes

dozzle
  kubernetes/apps/base/observability/dozzle/helmrelease.yaml
Labels: area/kubernetes

gatus alertung
  kubernetes/apps/casa/observability/config/gatus/gatus-config.yaml
Labels: area/kubernetes, cluster/casa

-gatus alerts
  kubernetes/apps/casa/observability/config/gatus/gatus-config.yaml
  kubernetes/components/gatus/external/base/config.yaml
  kubernetes/components/gatus/external/config.yaml
  kubernetes/components/gatus/external/dev/config.yaml
Labels: area/kubernetes, cluster/casa

workstation prepare for talos
  .taskfiles/Workstation/Taskfile.yaml
  .taskfiles/Workstation/resources/Brewfile
Labels: area/taskfile

helm-diff
  .taskfiles/Workstation/Taskfile.yaml
Labels: area/taskfile

vault
  .taskfiles/Workstation/resources/Brewfile
Labels: area/taskfile

placeholder for hashicorp vault
  .taskfiles/Vault/Taskfile.yaml
Labels: area/taskfile

prepare calos
  .gitignore
  .sops.yaml
  .taskfiles/Vault/Taskfile.yaml
  Taskfile.yaml
  talos/.gitkeep
Labels: area/talos, area/taskfile

ignore bootstrap out folder
  .gitignore
Labels: none

temp
  bootstrap/main/helmfile.d/01-apps.yaml
  kubernetes/apps/base/cert-manager/cert-manager/helmrelease.yaml
  scripts/bootstrap-talos-apps.sh
Labels: area/bootstrap, area/kubernetes, area/scripts

bgp
  kubernetes/apps/main/kube-system/cilium/bgp.conf
  kubernetes/apps/main/kube-system/cilium/networking.yaml
Labels: area/kubernetes

bootstrap finalize
  bootstrap/main/helmfile.d/01-apps.yaml
  scripts/bootstrap-talos-apps.sh
Labels: area/bootstrap, area/scripts

replacements
  kubernetes/apps/main/cert-manager/kustomization.yaml
  kubernetes/apps/main/default/kustomization.yaml
  kubernetes/apps/main/flux-system/kustomization.yaml
  kubernetes/apps/main/kube-system/kustomization.yaml
  kubernetes/components/replacements/ks.yaml
Labels: area/kubernetes

fix core patch
  kubernetes/apps/base/kube-system/cilium/helmrelease.yaml
  kubernetes/apps/main/cert-manager/cert-manager.yaml
  kubernetes/apps/main/cert-manager/kustomization.yaml
Labels: area/kubernetes

external-secrets
  bootstrap/main/vault-cluster-creds.sops.yaml
  kubernetes/apps/base/external-secrets/README.md
  kubernetes/apps/base/external-secrets/clustersecretstore.yaml
  kubernetes/apps/base/external-secrets/grafanadashboard.yaml
  kubernetes/apps/base/external-secrets/helmrelease.yaml
  kubernetes/apps/base/external-secrets/kustomization.yaml
  kubernetes/apps/main/external-secrets/external-secrets-pdb.yaml
  kubernetes/apps/main/external-secrets/external-secrets.yaml
  kubernetes/apps/main/external-secrets/kustomization.yaml
  kubernetes/vars/main/ns/external-secrets-secrets.sops.yaml
  kubernetes/vars/main/ns/network-secrets.sops.yaml
Labels: area/bootstrap, area/kubernetes

dns and metrics
  kubernetes/apps/base/kube-system/metrics-server/helmrelease.yaml
  kubernetes/apps/base/kube-system/metrics-server/kustomization.yaml
  kubernetes/apps/main/kube-system/coredns.yaml
  kubernetes/apps/main/kube-system/kustomization.yaml
  kubernetes/apps/main/kube-system/metrics-server.yaml
Labels: area/kubernetes

external-secrets
  kubernetes/apps/main/external-secrets/kustomization.yaml
Labels: area/kubernetes

fix as resource no env
  kubernetes/apps/main/external-secrets/kustomization.yaml
Labels: area/kubernetes

opti
  .taskfiles/Flux/Taskfile.yaml
Labels: area/taskfile

correct namespace
  bootstrap/main/vault-cluster-creds.sops.yaml
Labels: area/bootstrap

bgp errors
  kubernetes/apps/main/kube-system/cilium/networking.yaml
Labels: area/kubernetes

cp vip
  talos/main/nodes/cp01.k8s.main.internal.yaml.j2
  talos/main/nodes/cp02.k8s.main.internal.yaml.j2
  talos/main/nodes/cp03.k8s.main.internal.yaml.j2
Labels: area/talos

pg
  kubernetes/apps/base/download/radarr/externalsecret.yaml
  kubernetes/apps/base/download/sonarr/externalsecret.yaml
Labels: area/kubernetes

dot
  kubernetes/apps/base/download/radarr/helmrelease.yaml
  kubernetes/apps/base/download/sonarr/helmrelease.yaml
Labels: area/kubernetes

ndots
  kubernetes/apps/base/database/dbgate/helmrelease.yaml
Labels: area/kubernetes

vip extern
  talos/main/nodes/cp01.k8s.main.internal.yaml.j2
  talos/main/nodes/cp02.k8s.main.internal.yaml.j2
  talos/main/nodes/cp03.k8s.main.internal.yaml.j2
Labels: area/talos

wd
  talos/main/machineconfig.yaml.j2
Labels: area/talos

cfg
  talos/main/machineconfig.yaml.j2
Labels: area/talos

extsecret
  kubernetes/apps/main/external-secrets/external-secrets.yaml
Labels: area/kubernetes
