Repository sstr-dev/infrastructure, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/scripts, area/talos, area/taskfile, area/renovate, area/terraform, area/ansible, cluster/core, cluster/casa

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - .renovate/**/*
          - .renovaterc.json5
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
# Cluster
cluster/core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/core/**/*
cluster/casa:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/casa/**/*

echo-extras
  kubernetes/apps/main/network/echo.yaml
  kubernetes/apps/main/network/echo/httproute.yaml
  kubernetes/apps/main/network/echo/kustomization.yaml
  kubernetes/vars/main/secrets/cluster-secrets.sops.yaml
Labels: area/kubernetes

prepare homepage and ittools
  kubernetes/apps/base/self-hosted/homepage/helmrelease.yaml
  kubernetes/apps/base/self-hosted/it-tools/helmrelease.yaml
  kubernetes/apps/casa/self-hosted/homepage.yaml
  kubernetes/apps/casa/self-hosted/it-tools.yaml
Labels: area/kubernetes, cluster/casa

self-hosted namespace
  kubernetes/apps/base/self-hosted/drawio/helmrelease.yaml
  kubernetes/apps/main/self-hosted/cyberchef.yaml
  kubernetes/apps/main/self-hosted/drawio.yaml
  kubernetes/apps/main/self-hosted/homepage.yaml
  kubernetes/apps/main/self-hosted/homepage/externalsecret.yaml
  kubernetes/apps/main/self-hosted/homepage/files/bookmarks.yaml
  kubernetes/apps/main/self-hosted/homepage/files/custom.css
  kubernetes/apps/main/self-hosted/homepage/files/custom.js
  kubernetes/apps/main/self-hosted/homepage/files/docker.yaml
  kubernetes/apps/main/self-hosted/homepage/files/kubernetes.yaml
  kubernetes/apps/main/self-hosted/homepage/files/services.yaml
  kubernetes/apps/main/self-hosted/homepage/files/settings.yaml
  kubernetes/apps/main/self-hosted/homepage/files/widgets.yaml
  kubernetes/apps/main/self-hosted/homepage/kustomization.yaml
  kubernetes/apps/main/self-hosted/it-tools.yaml
  kubernetes/apps/main/self-hosted/kustomization.yaml
  kubernetes/vars/main/cluster/kustomization.yaml
Labels: area/kubernetes

hp
  kubernetes/apps/main/self-hosted/homepage/files/settings.yaml
  kubernetes/apps/main/self-hosted/homepage/files/widgets.yaml
Labels: area/kubernetes

test restore sso outpost
  kubernetes/components/ext-auth/securitypolicy.yaml
  kubernetes/components/ext-auth/two/securitypolicy.yaml
Labels: area/kubernetes

fix
  kubernetes/components/ext-auth/securitypolicy.yaml
  kubernetes/components/ext-auth/two/securitypolicy.yaml
Labels: area/kubernetes

later rework on security policy
  kubernetes/components/ext-auth/securitypolicy.yaml
  kubernetes/components/ext-auth/two/securitypolicy.yaml
Labels: area/kubernetes

test
  kubernetes/components/ext-auth/securitypolicy.yaml
Labels: area/kubernetes

test
  kubernetes/components/ext-auth/securitypolicy.yaml
Labels: area/kubernetes

revert
  kubernetes/components/ext-auth/securitypolicy.yaml
Labels: area/kubernetes

test
  kubernetes/components/ext-auth/securitypolicy.yaml
Labels: area/kubernetes

test
  kubernetes/components/ext-auth/README.md
  kubernetes/components/ext-auth/securitypolicy.yaml
Labels: area/kubernetes

test
  kubernetes/components/ext-auth/securitypolicy.yaml
Labels: area/kubernetes

casa envoy downgrade
  kubernetes/apps/casa/network/envoy-gateway.yaml
  kubernetes/apps/casa/network/envoy-gateway/helmrelease.yaml
  kubernetes/apps/casa/network/envoy-gateway/kustomization.yaml
  kubernetes/apps/casa/network/envoy-gateway/ocirepository.yaml
  kubernetes/components/ext-auth/README.md
Labels: area/kubernetes, cluster/casa

Manually add headers in SecurityPolicy
  kubernetes/components/ext-auth/securitypolicy.yaml
Labels: area/kubernetes

n8n initdb container
  kubernetes/apps/base/automation/n8n/helmrelease.yaml
Labels: area/kubernetes

fix grafana ini-db alpine dns issue
  kubernetes/apps/base/observability/grafana/helmrelease.yaml
Labels: area/kubernetes

fix cluster db host dns
  kubernetes/apps/base/automation/n8n/externalsecret.yaml
  kubernetes/apps/base/observability/grafana/externalsecret.yaml
Labels: area/kubernetes

Sync a single ExternalSecret
  .taskfiles/Kubernetes/Taskfile.yaml
Labels: area/taskfile

grafana
  kubernetes/apps/base/observability/grafana/helmrelease.yaml
Labels: area/kubernetes

openebs talos test 1 node
  kubernetes/apps/base/storage/openebs/helmrelease.yaml
  kubernetes/apps/base/storage/openebs/kustomization.yaml
  kubernetes/apps/main/storage/kustomization.yaml
  kubernetes/apps/main/storage/openebs.yaml
  talos/main/machineconfig.yaml.j2
  talos/main/nodes/wk01.k8s.main.internal.yaml.j2
Labels: area/kubernetes, area/talos

prepare for csi-driver-nfs
  kubernetes/apps/base/storage/csi-driver-nfs/helmrelease.yaml
  kubernetes/apps/base/storage/csi-driver-nfs/kustomization.yaml
  kubernetes/apps/main/storage/csi-driver-nfs.yaml
  kubernetes/apps/main/storage/kustomization.yaml
Labels: area/kubernetes

csi-driver-nfs
  kubernetes/apps/base/storage/csi-driver-nfs/helmrelease.yaml
  kubernetes/apps/main/storage/csi-driver-nfs.yaml
  kubernetes/apps/main/storage/kustomization.yaml
Labels: area/kubernetes

subDir
  kubernetes/apps/base/storage/csi-driver-nfs/helmrelease.yaml
Labels: area/kubernetes

test
  kubernetes/apps/base/storage/csi-driver-nfs/helmrelease.yaml
Labels: area/kubernetes

test2
  kubernetes/apps/base/storage/csi-driver-nfs/helmrelease.yaml
Labels: area/kubernetes

snapshot-controller
  kubernetes/apps/base/storage/csi-driver-nfs/helmrelease.yaml
  kubernetes/apps/base/storage/snapshot-controller/helmrelease.yaml
  kubernetes/apps/base/storage/snapshot-controller/kustomization.yaml
  kubernetes/apps/base/storage/volsync/helmrelease.yaml
  kubernetes/apps/base/storage/volsync/kustomization.yaml
  kubernetes/apps/main/storage/kustomization.yaml
  kubernetes/apps/main/storage/snapshot-controller.yaml
  kubernetes/apps/main/storage/volsync.yaml
Labels: area/kubernetes

vm second worker storage
  talos/main/nodes/wk02.k8s.main.internal.yaml.j2
  talos/main/nodes/wk03.k8s.main.internal.yaml.j2
Labels: area/talos

database
  kubernetes/apps/main/database/kustomization.yaml
  kubernetes/vars/main/namespaces/database/kustomization.yaml
  kubernetes/vars/main/namespaces/database/secrets.sops.yaml
Labels: area/kubernetes

todos
  kubernetes/apps/main/database/kustomization.yaml
  kubernetes/apps/main/self-hosted/kustomization.yaml
  kubernetes/apps/main/storage/kustomization.yaml
Labels: area/kubernetes

dragonfly
  kubernetes/apps/base/database/dragonfly/operator/helmrelease.yaml
  kubernetes/apps/base/database/dragonfly/operator/kustomization.yaml
  kubernetes/apps/main/database/dragonfly.yaml
  kubernetes/apps/main/database/kustomization.yaml
Labels: area/kubernetes

cloudnative-pg
  kubernetes/apps/base/database/cloudnative-pg/operator/externalsecret.yaml
  kubernetes/apps/base/database/cloudnative-pg/operator/helmrelease.yaml
  kubernetes/apps/base/database/cloudnative-pg/operator/kustomization.yaml
  kubernetes/apps/main/database/cloudnative-pg.yaml
  kubernetes/apps/main/database/kustomization.yaml
Labels: area/kubernetes

dragonfly-operator
  kubernetes/apps/base/database/dragonfly/operator/helmrelease.yaml
Labels: area/kubernetes

cloudnative-pg-barman-cloud
  kubernetes/apps/base/database/cloudnative-pg/barman-cloud/certificate.yaml
  kubernetes/apps/base/database/cloudnative-pg/barman-cloud/helmrelease.yaml
  kubernetes/apps/base/database/cloudnative-pg/barman-cloud/kustomization.yaml
  kubernetes/apps/base/database/cloudnative-pg/barman-cloud/rbac.yaml
  kubernetes/apps/main/database/cloudnative-pg.yaml
Labels: area/kubernetes

plugin-barman-cloud typo
  kubernetes/apps/base/database/cloudnative-pg/barman-cloud/helmrelease.yaml
Labels: area/kubernetes

postgres and ip docs
  docs/network-ip-usage.md
  kubernetes/apps/main/database/cloudnative-pg.yaml
  kubernetes/apps/main/database/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/main/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/main/database/cloudnative-pg/cluster/objectstore.yaml
  kubernetes/apps/main/database/cloudnative-pg/cluster/pooler.yaml
  kubernetes/apps/main/database/cloudnative-pg/cluster/prometheusrule.yaml
  kubernetes/apps/main/database/cloudnative-pg/cluster/scheduledbackup.yaml
  kubernetes/apps/main/database/cloudnative-pg/cluster/service.yaml
  kubernetes/apps/main/database/kustomization.yaml
Labels: area/kubernetes

cnpg cluster
  kubernetes/apps/main/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

pg
  kubernetes/apps/main/database/cloudnative-pg.yaml
Labels: area/kubernetes

pg
  kubernetes/apps/main/database/cloudnative-pg.yaml
Labels: area/kubernetes

vector and timescale
  kubernetes/apps/main/database/cloudnative-pg.yaml
  kubernetes/apps/main/database/cloudnative-pg/timescale/cluster.yaml
  kubernetes/apps/main/database/cloudnative-pg/timescale/imagecatalog.yaml
  kubernetes/apps/main/database/cloudnative-pg/timescale/kustomization.yaml
  kubernetes/apps/main/database/cloudnative-pg/timescale/objectstore.yaml
  kubernetes/apps/main/database/cloudnative-pg/timescale/scheduledbackup.yaml
  kubernetes/apps/main/database/cloudnative-pg/timescale/service.yaml
  kubernetes/apps/main/database/cloudnative-pg/vector/cluster.yaml
  kubernetes/apps/main/database/cloudnative-pg/vector/kustomization.yaml
  kubernetes/apps/main/database/cloudnative-pg/vector/objectstore.yaml
  kubernetes/apps/main/database/cloudnative-pg/vector/scheduledbackup.yaml
  kubernetes/apps/main/database/cloudnative-pg/vector/service.yaml
Labels: area/kubernetes
