Repository sstr-dev/infrastructure, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/scripts, area/talos, area/taskfile, area/renovate, area/terraform, area/ansible, cluster/core, cluster/casa

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - .renovate/**/*
          - .renovaterc.json5
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
# Cluster
cluster/core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/core/**/*
cluster/casa:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/casa/**/*

extsecret
  kubernetes/apps/main/external-secrets/external-secrets.yaml
Labels: area/kubernetes

fix cfg
  talos/main/machineconfig.yaml.j2
  talos/main/nodes/wk03.k8s.main.internal.yaml.j2
Labels: area/talos

seperate redis for paperless
  kubernetes/apps/base/self-hosted/paperless/helmrelease.yaml
Labels: area/kubernetes

lldap
  kubernetes/apps/base/security/lldap/helmrelease.yaml
Labels: area/kubernetes

jelli
  kubernetes/apps/base/media/jellyseerr/helmrelease.yaml
Labels: area/kubernetes

webui
  kubernetes/apps/base/llm/open-webui/helmrelease.yaml
Labels: area/kubernetes

tesla
  kubernetes/apps/base/home-automation/teslamate/helmrelease.yaml
Labels: area/kubernetes

cilium and co
  kubernetes/apps/base/kube-system/cilium/helmrelease.yaml
  scripts/bootstrap-talos-apps.sh
  talos/main/machineconfig.yaml.j2
  talos/main/nodes/cp01.k8s.main.internal.yaml.j2
  talos/main/nodes/cp02.k8s.main.internal.yaml.j2
  talos/main/nodes/cp03.k8s.main.internal.yaml.j2
  talos/main/nodes/wk01.k8s.main.internal.yaml.j2
  talos/main/nodes/wk02.k8s.main.internal.yaml.j2
  talos/main/nodes/wk03.k8s.main.internal.yaml.j2
Labels: area/kubernetes, area/scripts, area/talos

talos
  kubernetes/apps/main/kube-system/cilium/networking.yaml
  talos/main/nodes/wk01.k8s.main.internal.yaml.j2
  talos/main/nodes/wk02.k8s.main.internal.yaml.j2
  talos/main/nodes/wk03.k8s.main.internal.yaml.j2
Labels: area/kubernetes, area/talos

net
  kubernetes/apps/main/kube-system/cilium/networking.yaml
Labels: area/kubernetes

talos not works with multible interfaces
  talos/main/nodes/cp01.k8s.main.internal.yaml.j2
  talos/main/nodes/cp02.k8s.main.internal.yaml.j2
  talos/main/nodes/cp03.k8s.main.internal.yaml.j2
  talos/main/nodes/wk01.k8s.main.internal.yaml.j2
  talos/main/nodes/wk02.k8s.main.internal.yaml.j2
  talos/main/nodes/wk03.k8s.main.internal.yaml.j2
Labels: area/talos

cilium and talos
  .taskfiles/Talos/Taskfile.yaml
  kubernetes/apps/main/kube-system/cilium/networking.yaml
  talos/main/machineconfig.yaml copy.j2
  talos/main/machineconfig.yaml.j2
  talos/main/nodes/wk01.k8s.main.internal.yaml.j2
  talos/main/nodes/wk02.k8s.main.internal.yaml.j2
  talos/main/nodes/wk03.k8s.main.internal.yaml.j2
Labels: area/kubernetes, area/talos, area/taskfile

talos test
  .gitignore
  .taskfiles/Talos/Taskfile.yaml
  bootstrap/main/helmfile.d/00-crds.yaml
  bootstrap/main/helmfile.d/01-apps.yaml
  kubernetes/clusters/main/flux-instance/helmrelease.yaml
  talos/main/machineconfig.yaml.j2
  talos/main/nodes/cp01.k8s.main.internal.yaml.j2
  talos/main/nodes/cp02.k8s.main.internal.yaml.j2
  talos/main/nodes/cp03.k8s.main.internal.yaml.j2
  talos/main/nodes/wk01.k8s.main.internal.yaml.j2
  talos/main/nodes/wk02.k8s.main.internal.yaml.j2
  talos/main/nodes/wk03.k8s.main.internal.yaml.j2
Labels: area/bootstrap, area/kubernetes, area/talos, area/taskfile

talos setup
  .taskfiles/Talos/Taskfile.yaml
  .taskfiles/Vault/Taskfile.yaml
  bootstrap/main/helmfile.d/00-crds.yaml
  scripts/bootstrap-talos.sh
  scripts/vault-inject.py
  talos/main/machineconfig.yaml.j2
  talos/main/nodes/cp01.k8s.main.internal.yaml.j2
  talos/main/nodes/cp02.k8s.main.internal.yaml.j2
  talos/main/nodes/cp03.k8s.main.internal.yaml.j2
Labels: area/bootstrap, area/scripts, area/talos, area/taskfile

cilium pool
  kubernetes/apps/main/kube-system/cilium/networking.yaml
Labels: area/kubernetes

apply-cluster source to talos and hugepages fix
  .taskfiles/Talos/Taskfile.yaml
  talos/main/machineconfig.yaml.j2
Labels: area/talos, area/taskfile

metrics-server resources
  kubernetes/apps/base/kube-system/metrics-server/helmrelease.yaml
Labels: area/kubernetes

unifi-dns and vars structure
  kubernetes/apps/base/network/unifi-dns/externalsecret.yaml
  kubernetes/apps/base/network/unifi-dns/helmrelease.yaml
  kubernetes/apps/base/network/unifi-dns/kustomization.yaml
  kubernetes/apps/main/cert-manager/kustomization.yaml
  kubernetes/apps/main/external-secrets/kustomization.yaml
  kubernetes/apps/main/network/kustomization.yaml
  kubernetes/apps/main/network/unifi-dns.yaml
  kubernetes/vars/main/namespaces/external-secrets/kustomization.yaml
  kubernetes/vars/main/namespaces/external-secrets/secrets.sops.yaml
  kubernetes/vars/main/namespaces/network/kustomization.yaml
  kubernetes/vars/main/namespaces/network/secrets.sops.yaml
  kubernetes/vars/main/secrets/cluster-secrets.sops.yaml
  kubernetes/vars/main/secrets/kustomization.yaml
  kubernetes/vars/main/settings/cluster-settings.yaml
  kubernetes/vars/main/settings/kustomization.yaml
Labels: area/kubernetes

ClusterIssuer later
  kubernetes/apps/main/cert-manager/cert-manager.yaml
Labels: area/kubernetes

remove healthChecks
  kubernetes/apps/main/cert-manager/cert-manager.yaml
Labels: area/kubernetes

cloudflared
  kubernetes/apps/main/network/cloudflare-tunnel.yaml
  kubernetes/apps/main/network/kustomization.yaml
Labels: area/kubernetes

flux addons
  kubernetes/apps/main/flux-system/addons.yaml
  kubernetes/apps/main/flux-system/kustomization.yaml
Labels: area/kubernetes

envoy-gateway
  kubernetes/apps/base/network/envoy-gateway/helmrelease.yaml
  kubernetes/apps/base/network/envoy-gateway/kustomization.yaml
  kubernetes/apps/base/network/envoy-gateway/ocirepository.yaml
  kubernetes/apps/casa/network/config/envoy-gateway/kustomization.yaml
  kubernetes/apps/casa/network/config/envoy-gateway/podmonitor.yaml
  kubernetes/apps/casa/network/config/envoy-gateway/servicemonitor.yaml
  kubernetes/apps/main/network/envoy-gateway.yaml
  kubernetes/apps/main/network/kustomization.yaml
Labels: area/kubernetes, cluster/casa

envoy prepare for gateways
  kubernetes/apps/main/network/envoy-gateway.yaml
  kubernetes/apps/main/network/envoy-gateway/kustomization.yaml
  kubernetes/apps/main/network/envoy-gateway/observability.yaml
Labels: area/kubernetes

cert-manager-issuer
  kubernetes/apps/main/cert-manager/cert-manager.yaml
Labels: area/kubernetes

certificates-internal
  kubernetes/apps/base/network/certificates/internal/certificate.yaml
  kubernetes/apps/base/network/certificates/internal/kustomization.yaml
  kubernetes/apps/base/network/certificates/internal/pushsecret.yaml
  kubernetes/apps/base/network/certificates/template/certificate.yaml
  kubernetes/apps/base/network/certificates/template/kustomization.yaml
  kubernetes/apps/base/network/certificates/template/pushsecret.yaml
  kubernetes/apps/main/network/certificates.yaml
  kubernetes/apps/main/network/kustomization.yaml
  kubernetes/vars/main/settings/cluster-settings.yaml
Labels: area/kubernetes

network
  kubernetes/apps/base/network/certificates/template/pushsecret.yaml
  kubernetes/vars/main/namespaces/network/kustomization.yaml
  kubernetes/vars/main/namespaces/network/secrets/cert-base-secrets.sops.yaml
  kubernetes/vars/main/namespaces/network/secrets/cert-dev-secrets.sops.yaml
  kubernetes/vars/main/namespaces/network/secrets/cert-game-secrets.sops.yaml
  kubernetes/vars/main/namespaces/network/secrets/cert-main-secrets.sops.yaml
  kubernetes/vars/main/namespaces/network/secrets/kustomization.yaml
Labels: area/kubernetes

certificates
  kubernetes/apps/main/network/certificates.yaml
Labels: area/kubernetes

certificates-multi-domain
  kubernetes/apps/base/network/certificates/multi-domain-tls/certificate.yaml
  kubernetes/apps/base/network/certificates/multi-domain-tls/kustomization.yaml
  kubernetes/apps/base/network/certificates/multi-domain-tls/pushsecret.yaml
  kubernetes/apps/main/network/certificates.yaml
  kubernetes/apps/main/network/envoy-gateway.yaml
  kubernetes/apps/main/network/envoy-gateway/envoy.yaml
  kubernetes/vars/main/namespaces/network/secrets.sops.yaml
  kubernetes/vars/main/namespaces/network/secrets/cert-main-secrets.sops.yaml
Labels: area/kubernetes

multi-domain
  kubernetes/apps/base/network/certificates/multi-domain-tls/certificate.yaml
  kubernetes/apps/main/network/certificates.yaml
Labels: area/kubernetes

multi-domain
  kubernetes/apps/base/network/certificates/multi-domain-tls/certificate.yaml
Labels: area/kubernetes

unifi-dns reconfig
  kubernetes/apps/base/network/unifi-dns/helmrelease.yaml
  kubernetes/apps/main/network/unifi-dns.yaml
Labels: area/kubernetes

envoy-config
  kubernetes/apps/main/network/envoy-gateway.yaml
  kubernetes/apps/main/network/envoy-gateway/envoy.yaml
Labels: area/kubernetes

envoy
  kubernetes/apps/main/network/envoy-gateway/kustomization.yaml
Labels: area/kubernetes

cilium segmentation
  kubernetes/apps/main/kube-system/cilium/networking.yaml
  kubernetes/apps/main/network/envoy-gateway/envoy.yaml
  talos/main/nodes/wk01.k8s.main.internal.yaml.j2
  talos/main/nodes/wk02.k8s.main.internal.yaml.j2
  talos/main/nodes/wk03.k8s.main.internal.yaml.j2
Labels: area/kubernetes, area/talos

cilium
  kubernetes/apps/main/kube-system/cilium/networking.yaml
Labels: area/kubernetes

echo
  kubernetes/apps/main/network/echo.yaml
  kubernetes/apps/main/network/kustomization.yaml
Labels: area/kubernetes

fix gateway
  kubernetes/apps/base/network/echo/helmrelease.yaml
  kubernetes/apps/casa/network/echo.yaml
  kubernetes/apps/main/network/echo.yaml
Labels: area/kubernetes, cluster/casa

kube-tools
  kubernetes/apps/base/kube-tools/descheduler/helmrelease.yaml
  kubernetes/apps/base/kube-tools/reloader/helmrelease.yaml
  kubernetes/apps/base/kube-tools/spegel/helmrelease.yaml
  kubernetes/apps/main/kube-tools/descheduler.yaml
  kubernetes/apps/main/kube-tools/kustomization.yaml
  kubernetes/apps/main/kube-tools/reloader.yaml
  kubernetes/apps/main/kube-tools/spegel.yaml
Labels: area/kubernetes

tuppr as update solution?
  kubernetes/apps/main/kube-tools/kustomization.yaml
Labels: area/kubernetes
