Repository sstr-dev/infrastructure, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/scripts, area/talos, area/taskfile, area/renovate, area/terraform, area/ansible, cluster/core, cluster/casa

chart downgrade, todo: update to new structure
  kubernetes/apps/base/vpn-gateway/downloads-gateway/helmrelease.yaml
Labels: area/kubernetes

patch
  kubernetes/apps/base/vpn-gateway/downloads-gateway/helmrelease.yaml
Labels: area/kubernetes

r
  kubernetes/apps/casa/vpn-gateway/kustomization.yaml
Labels: area/kubernetes, cluster/casa

a
  kubernetes/apps/casa/vpn-gateway/kustomization.yaml
Labels: area/kubernetes, cluster/casa

sabnzbd
  kubernetes/apps/casa/download/kustomization.yaml
Labels: area/kubernetes, cluster/casa

copy restruct
  kubernetes/apps/core/network/cloudflare-tunnel.yaml
  kubernetes/apps/core/network/kustomization.yaml
  kubernetes/apps/core/network/nginx.yaml
Labels: area/kubernetes, cluster/core

ng
  kubernetes/apps/core/network/nginx.yaml
Labels: area/kubernetes, cluster/core

cert-manager
  kubernetes/apps/core/cert-manager/cert-manager.yaml
  kubernetes/apps/core/cert-manager/issuer-internal.yaml
  kubernetes/apps/core/cert-manager/issuer.yaml
  kubernetes/apps/core/cert-manager/kustomization.yaml
Labels: area/kubernetes, cluster/core

default and nginx cert
  kubernetes/apps/core/default/certificate/internal.yaml
  kubernetes/apps/core/default/kustomization.yaml
  kubernetes/apps/core/network/nginx.yaml
Labels: area/kubernetes, cluster/core

core
  kubernetes/apps/core/default/certificate/internal.yaml
Labels: area/kubernetes, cluster/core

ip
  kubernetes/vars/core/cluster-settings.yaml
Labels: area/kubernetes, cluster/core

SERVICE_LB_RANGE
  kubernetes/vars/core/cluster-settings.yaml
Labels: area/kubernetes, cluster/core

LB_SERVICE_INTERFACE
  kubernetes/apps/base/network/nginx/internal/helmrelease.yaml
  kubernetes/vars/casa/cluster-settings.yaml
  kubernetes/vars/core/cluster-settings.yaml
Labels: area/kubernetes, cluster/core, cluster/casa

svc split
  kubernetes/apps/base/network/nginx/internal/helmrelease.yaml
  kubernetes/apps/casa/kube-system/kube-vip-svc/config/configmap.yaml
  kubernetes/vars/casa/cluster-settings.yaml
  kubernetes/vars/core/cluster-settings.yaml
Labels: area/kubernetes, cluster/core, cluster/casa

ips
  kubernetes/vars/casa/cluster-settings.yaml
  kubernetes/vars/casa/ns/security-secrets.sops.yaml
Labels: area/kubernetes, cluster/casa

s3 bk
  kubernetes/vars/casa/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/casa

ddl
  kubernetes/apps/casa/download/kustomization.yaml
Labels: area/kubernetes, cluster/casa

gtw
  kubernetes/apps/casa/network/config/envoy-gateway/gateway.yaml
  kubernetes/vars/casa/cluster-settings.yaml
Labels: area/kubernetes, cluster/casa

multus
  kubernetes/apps/casa/network/kustomization.yaml
Labels: area/kubernetes, cluster/casa

net
  kubernetes/apps/base/database/influx/helmrelease.yaml
  kubernetes/apps/base/media/jellyfin/helmrelease.yaml
  kubernetes/apps/base/storage-system/samba/helmrelease.yaml
  kubernetes/vars/casa/cluster-settings.yaml
Labels: area/kubernetes, cluster/casa

hp
  kubernetes/apps/casa/self-hosted/config/homepage/files/services.yaml
Labels: area/kubernetes, cluster/casa

jellyfin
  kubernetes/apps/base/media/jellyfin/helmrelease.yaml
Labels: area/kubernetes

sonarr
  kubernetes/apps/base/download/sonarr/helmrelease.yaml
  kubernetes/apps/casa/download/kustomization.yaml
Labels: area/kubernetes, cluster/casa

s
  kubernetes/apps/base/download/sonarr/helmrelease.yaml
Labels: area/kubernetes

gateway
  kubernetes/apps/casa/vpn-gateway/kustomization.yaml
Labels: area/kubernetes, cluster/casa

de
  kubernetes/apps/base/storage-system/local-path-provisioner/sc-standard-default/standard-deployment.yaml
Labels: area/kubernetes

sc
  kubernetes/apps/base/storage-system/local-path-provisioner/sc-fast/fast-deployment.yaml
Labels: area/kubernetes

son
  kubernetes/apps/base/download/sonarr/helmrelease.yaml
Labels: area/kubernetes

med
  kubernetes/apps/base/download/sonarr/helmrelease.yaml
Labels: area/kubernetes

mo
  kubernetes/apps/base/download/radarr/helmrelease.yaml
Labels: area/kubernetes

radarr
  kubernetes/apps/casa/download/kustomization.yaml
Labels: area/kubernetes, cluster/casa

r
  kubernetes/apps/casa/actions-runner-system/kustomization.yaml
Labels: area/kubernetes, cluster/casa

run
  kubernetes/apps/casa/actions-runner-system/kustomization.yaml
Labels: area/kubernetes, cluster/casa

backendRefs
  kubernetes/apps/base/self-hosted/paperless/helmrelease.yaml
Labels: area/kubernetes

gateway
  kubernetes/apps/casa/network/config/envoy-gateway/backendtrafficpolicy.yaml
  kubernetes/apps/casa/network/config/envoy-gateway/clienttrafficpolicy.yaml
Labels: area/kubernetes, cluster/casa

external-dns-unifi, gatus
  kubernetes/apps/base/network/external-dns/unifi/externalsecret.yaml
  kubernetes/apps/base/network/external-dns/unifi/helmrelease.yaml
  kubernetes/apps/base/network/external-dns/unifi/kustomization.yaml
  kubernetes/apps/casa/network/external-dns.yaml
  kubernetes/apps/casa/observability/config/gatus/gatus-config.yaml
Labels: area/kubernetes, cluster/casa

type zst not supported
  kubernetes/apps/casa/network/config/envoy-gateway/backendtrafficpolicy.yaml
Labels: area/kubernetes, cluster/casa

trigger
  kubernetes/apps/base/self-hosted/paperless/helmrelease.yaml
Labels: area/kubernetes

TRIGGER_UPDATE
  kubernetes/apps/base/self-hosted/paperless/helmrelease.yaml
Labels: area/kubernetes

paper
  kubernetes/apps/base/self-hosted/paperless/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - .renovate/**/*
          - .renovaterc.json5
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
# Cluster
cluster/core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/core/**/*
cluster/casa:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/casa/**/*
