Repository sstr-dev/infrastructure, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/scripts, area/talos, area/taskfile, area/renovate, area/terraform, area/ansible, cluster/core, cluster/casa

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - .renovate/**/*
          - .renovaterc.json5
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
# Cluster
cluster/core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/core/**/*
cluster/casa:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/casa/**/*

nut
  kubernetes/apps/base/kube-system/nut-upsd/helmrelease.yaml
Labels: area/kubernetes

ups
  kubernetes/apps/casa/kube-system/config/nut-upsd/ups.conf
Labels: area/kubernetes, cluster/casa

ups
  kubernetes/apps/casa/kube-system/config/nut-upsd/ups.conf
Labels: area/kubernetes, cluster/casa

move nut-upsd to host
  kubernetes/apps/casa/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/casa

nut-exporter
  kubernetes/apps/base/observability/exporters/nut-exporter/externalsecret.yaml
  kubernetes/apps/base/observability/exporters/nut-exporter/helmrelease.yaml
  kubernetes/apps/base/observability/exporters/nut-exporter/kustomization.yaml
  kubernetes/apps/casa/observability/exporters/nut-exporter.yaml
Labels: area/kubernetes, cluster/casa

fix nut-exporter (route)
  kubernetes/apps/base/observability/exporters/nut-exporter/httproute.yaml
Labels: area/kubernetes

nut-exporter and probes
  kubernetes/apps/base/observability/exporters/nut-exporter/dashboards/kustomization.yaml
  kubernetes/apps/base/observability/exporters/nut-exporter/dashboards/nut-exporter.json
  kubernetes/apps/base/observability/exporters/nut-exporter/dashboards/ups-aggregate.json
  kubernetes/apps/base/observability/exporters/nut-exporter/kustomization.yaml
  kubernetes/apps/base/observability/exporters/nut-exporter/prometheusrule.yaml
  kubernetes/apps/casa/observability/config/nut-exporter-probes/kustomization.yaml
  kubernetes/apps/casa/observability/config/nut-exporter-probes/probes.yaml
  kubernetes/apps/casa/observability/exporters/nut-exporter.yaml
Labels: area/kubernetes, cluster/casa

fix typo
  kubernetes/apps/base/observability/exporters/nut-exporter/kustomization.yaml
Labels: area/kubernetes

generic-device-plugin
  kubernetes/apps/base/kube-tools/generic-device-plugin/helmrelease.yaml
  kubernetes/apps/base/kube-tools/generic-device-plugin/kustomization.yaml
  kubernetes/apps/base/kube-tools/generic-device-plugin/resources/config.yaml
  kubernetes/apps/casa/kube-tools/config/generic-device-plugin/config.yaml
  kubernetes/apps/casa/kube-tools/config/generic-device-plugin/kustomization.yaml
  kubernetes/apps/casa/kube-tools/generic-device-plugin.yaml
  kubernetes/apps/casa/kube-tools/kustomization.yaml
  kubernetes/apps/casa/kube-tools/reflector.yaml
  kubernetes/apps/casa/kube-tools/reloader.yaml
  kubernetes/apps/casa/kube-tools/spegel.yaml
  kubernetes/apps/casa/kube-tools/system-upgrade-controller.yaml
Labels: area/kubernetes, cluster/casa

generic-device-plugin
  kubernetes/apps/base/kube-tools/generic-device-plugin/helmrelease.yaml
Labels: area/kubernetes

convertx, not used
  kubernetes/apps/casa/self-hosted/kustomization.yaml
Labels: area/kubernetes, cluster/casa

fix dragonfly condition
  kubernetes/apps/casa/database/dragonfly/cluster/ks.yaml
  kubernetes/apps/casa/sso/authentik.yaml
Labels: area/kubernetes, cluster/casa

database namespace corrections
  kubernetes/apps/casa/database/dragonfly-cluster.yaml
  kubernetes/apps/casa/database/dragonfly.yaml
  kubernetes/apps/casa/database/kustomization.yaml
  kubernetes/apps/casa/database/mongodb-cluster.yaml
  kubernetes/apps/casa/database/mongodb.yaml
Labels: area/kubernetes, cluster/casa

security namespace corrections
  kubernetes/apps/casa/security/external-secrets.yaml
  kubernetes/apps/casa/security/kustomization.yaml
  kubernetes/apps/casa/security/lldap.yaml
Labels: area/kubernetes, cluster/casa

generic-device-plugin
  kubernetes/apps/casa/kube-tools/config/generic-device-plugin/config.yaml
Labels: area/kubernetes, cluster/casa

ansible, sops, prepare for game panel
  .taskfiles/Ansible/Taskfile.yaml
  .taskfiles/Ansible/setup/Taskfile.yaml
  .taskfiles/Ansible/setup/games.yaml
  .taskfiles/Sops/Taskfile.yaml
  ansible/remote/servers/games/group_vars/games.sops.yaml
  ansible/remote/servers/games/setup.yaml
  ansible/remote/servers/proxmox/setup.yaml
Labels: area/taskfile, area/ansible

game prepare
  ansible/remote/servers/games/group_vars/games.sops.yaml
  ansible/remote/servers/games/setup.yaml
Labels: area/ansible

certs
  ansible/remote/servers/games/group_vars/games.sops.yaml
Labels: area/ansible

games certs
  ansible/remote/servers/games/roles/certs/defaults/main.yaml
  ansible/remote/servers/games/roles/certs/tasks/main.yaml
  ansible/remote/servers/games/setup.yaml
Labels: area/ansible

searxng
  kubernetes/apps/base/llm/searxng/externalsecret.yaml
  kubernetes/apps/base/llm/searxng/helmrelease.yaml
  kubernetes/apps/base/llm/searxng/kustomization.yaml
  kubernetes/apps/base/llm/searxng/resources/limiter.toml
  kubernetes/apps/base/llm/searxng/resources/settings.yml
  kubernetes/apps/casa/llm/kustomization.yaml
  kubernetes/apps/casa/llm/postgres-llm-cluster.yaml
  kubernetes/apps/casa/llm/searxng.yaml
Labels: area/kubernetes, cluster/casa

searxng
  kubernetes/apps/casa/llm/searxng.yaml
Labels: area/kubernetes, cluster/casa

searxng
  kubernetes/apps/casa/llm/searxng.yaml
Labels: area/kubernetes, cluster/casa

searxng
  kubernetes/apps/casa/llm/searxng.yaml
Labels: area/kubernetes, cluster/casa

searxng
  kubernetes/apps/casa/llm/searxng.yaml
Labels: area/kubernetes, cluster/casa

searxng
  kubernetes/apps/casa/llm/searxng.yaml
Labels: area/kubernetes, cluster/casa

dragonfly rbac
  kubernetes/apps/base/database/dragonfly/helmrelease.yaml
Labels: area/kubernetes

SearXNG Search
  kubernetes/apps/casa/self-hosted/config/homepage/files/services.yaml
Labels: area/kubernetes, cluster/casa

openwebui (interim solution)
  kubernetes/apps/base/network/external-services/kustomization.yaml
  kubernetes/apps/base/network/external-services/openwebui-temp.yaml
  kubernetes/vars/casa/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/casa

llm dragonfly
  kubernetes/apps/casa/llm/dragonfly-llm-cluster.yaml
  kubernetes/apps/casa/llm/kustomization.yaml
Labels: area/kubernetes, cluster/casa

pg llm
  kubernetes/apps/casa/llm/kustomization.yaml
Labels: area/kubernetes, cluster/casa

open-webui
  kubernetes/apps/base/llm/open-webui/externalsecret.yaml
  kubernetes/apps/base/llm/open-webui/helmrelease.yaml
  kubernetes/apps/base/llm/open-webui/kustomization.yaml
  kubernetes/apps/casa/llm/kustomization.yaml
  kubernetes/apps/casa/llm/open-webui.yaml
Labels: area/kubernetes, cluster/casa

paperless-ai
  kubernetes/apps/base/llm/paperless-ai/externalsecret.yaml
  kubernetes/apps/base/llm/paperless-ai/helmrelease.yaml
  kubernetes/apps/base/llm/paperless-ai/kustomization.yaml
  kubernetes/apps/casa/llm/kustomization.yaml
  kubernetes/apps/casa/llm/paperless-ai.yaml
Labels: area/kubernetes, cluster/casa

paperless-ai
  kubernetes/apps/base/llm/paperless-ai/helmrelease.yaml
Labels: area/kubernetes

paperless-ai config change
  kubernetes/apps/base/llm/paperless-ai/helmrelease.yaml
Labels: area/kubernetes

paperless-ai
  kubernetes/apps/base/llm/paperless-ai/helmrelease.yaml
Labels: area/kubernetes

paperless-ai
  kubernetes/apps/base/llm/paperless-ai/helmrelease.yaml
Labels: area/kubernetes

paperless-ai
  kubernetes/apps/base/llm/paperless-ai/helmrelease.yaml
Labels: area/kubernetes

ai
  kubernetes/apps/base/llm/paperless-ai/helmrelease.yaml
Labels: area/kubernetes

deactrivate paperless-ai (facing problems witrh ollamna on jetson1)
  kubernetes/apps/casa/llm/kustomization.yaml
Labels: area/kubernetes, cluster/casa

nvidia-device-plugin
  kubernetes/apps/base/kube-tools/nvidia-device-plugin/helmrelease.yaml
  kubernetes/apps/base/kube-tools/nvidia-device-plugin/kustomization.yaml
  kubernetes/apps/base/kube-tools/nvidia-device-plugin/runtimeclass.yaml
  kubernetes/apps/casa/kube-tools/kustomization.yaml
  kubernetes/apps/casa/kube-tools/nvidia-device-plugin.yaml
Labels: area/kubernetes, cluster/casa
