Repository sstr-dev/infrastructure, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/scripts, area/talos, area/taskfile, area/renovate, area/terraform, area/ansible, cluster/core, cluster/casa

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - .renovate/**/*
          - .renovaterc.json5
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
# Cluster
cluster/core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/core/**/*
cluster/casa:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/casa/**/*

garage gatus
  kubernetes/apps/base/storage/garage-webui/helmrelease.yaml
  kubernetes/apps/base/storage/garage/helmrelease.yaml
Labels: area/kubernetes

gatus
  kubernetes/apps/base/storage/garage/helmrelease.yaml
Labels: area/kubernetes

gatus
  kubernetes/apps/base/observability/kromgo/helmrelease.yaml
Labels: area/kubernetes

gatus
  kubernetes/apps/base/download/radarr/helmrelease.yaml
  kubernetes/apps/base/download/sonarr/helmrelease.yaml
  kubernetes/apps/base/llm/searxng/helmrelease.yaml
  kubernetes/apps/base/media/jellyfin/helmrelease.yaml
  kubernetes/apps/base/media/jellyseerr/helmrelease.yaml
  kubernetes/apps/base/self-hosted/snipe-it/helmrelease.yaml
  kubernetes/apps/main/experimental/oidc-test/helmrelease.yaml
Labels: area/kubernetes

gatus
  kubernetes/apps/base/observability/gatus/helmrelease.yaml
Labels: area/kubernetes

dns
  kubernetes/apps/base/kube-system/coredns/helmrelease.yaml
Labels: area/kubernetes

gtw
  kubernetes/apps/main/network/envoy-gateway/envoy.yaml
Labels: area/kubernetes

service gatus
  kubernetes/apps/base/database/mariadb-server/helmrelease.yaml
Labels: area/kubernetes

gatus
  kubernetes/apps/base/download/radarr/helmrelease.yaml
  kubernetes/apps/base/download/sonarr/helmrelease.yaml
  kubernetes/apps/base/media/jellyfin/helmrelease.yaml
  kubernetes/apps/base/media/jellyseerr/helmrelease.yaml
Labels: area/kubernetes

gatus
  kubernetes/apps/base/database/mariadb-server/helmrelease.yaml
  kubernetes/apps/base/dev/forgejo/helmrelease.yaml
  kubernetes/apps/base/dev/harbor/httproute.yaml
  kubernetes/apps/base/download/radarr/helmrelease.yaml
  kubernetes/apps/base/download/sonarr/helmrelease.yaml
  kubernetes/apps/base/media/jellyfin/helmrelease.yaml
  kubernetes/apps/base/media/jellyseerr/helmrelease.yaml
  kubernetes/apps/base/security/authentik/helmrelease.yaml
  kubernetes/apps/base/security/lldap/helmrelease.yaml
  kubernetes/apps/base/self-hosted/it-tools/helmrelease.yaml
  kubernetes/apps/main/database/cloudnative-pg/cluster/service.yaml
  kubernetes/apps/main/database/cloudnative-pg/timescale/service.yaml
  kubernetes/apps/main/database/cloudnative-pg/vector/service.yaml
  kubernetes/apps/main/database/dragonfly/cluster/cluster.yaml
  kubernetes/apps/main/observability/gatus/gatus-config.yaml
Labels: area/kubernetes

maker
  docs/redis-db-usage.md
  kubernetes/apps/base/3d-print/spoolman/helmrelease.yaml
  kubernetes/apps/base/maker/manyfold/externalsecret.yaml
  kubernetes/apps/base/maker/manyfold/helmrelease.yaml
  kubernetes/apps/base/maker/manyfold/kustomization.yaml
  kubernetes/apps/main/maker/kustomization.yaml
  kubernetes/apps/main/maker/manyfold.yaml
  kubernetes/apps/main/maker/spoolman.yaml
Labels: area/kubernetes

prepare
  kubernetes/apps/base/maker/manyfold/externalsecret.yaml
Labels: area/kubernetes

prepare
  kubernetes/apps/base/maker/manyfold/helmrelease.yaml
Labels: area/kubernetes

manyfold
  kubernetes/apps/base/maker/manyfold/helmrelease.yaml
  kubernetes/apps/main/maker/kustomization.yaml
  kubernetes/apps/main/maker/manyfold.yaml
Labels: area/kubernetes

manyfold
  kubernetes/apps/main/maker/manyfold.yaml
Labels: area/kubernetes

manyfold
  kubernetes/apps/base/maker/manyfold/helmrelease.yaml
Labels: area/kubernetes

manyfold
  kubernetes/apps/base/maker/manyfold/helmrelease.yaml
Labels: area/kubernetes

manyfold redis
  kubernetes/apps/base/maker/manyfold/externalsecret.yaml
  kubernetes/apps/base/maker/manyfold/helmrelease.yaml
Labels: area/kubernetes

redis
  kubernetes/apps/base/maker/manyfold/helmrelease.yaml
Labels: area/kubernetes

ndots
  kubernetes/apps/base/maker/manyfold/helmrelease.yaml
Labels: area/kubernetes

manyfold
  kubernetes/apps/base/maker/manyfold/helmrelease.yaml
Labels: area/kubernetes

ug
  kubernetes/apps/base/maker/manyfold/helmrelease.yaml
Labels: area/kubernetes

garage management
  .taskfiles/Garage/README.md
  .taskfiles/Garage/Taskfile.yaml
  Taskfile.yaml
Labels: area/taskfile

db readme
  .taskfiles/Database/README.md
Labels: area/taskfile

vault
  .taskfiles/Vault/README.md
  .taskfiles/Vault/Taskfile.yaml
Labels: area/taskfile

spoolman
  kubernetes/apps/base/maker/spoolman/externalsecret.yaml
  kubernetes/apps/base/maker/spoolman/helmrelease.yaml
  kubernetes/apps/base/maker/spoolman/kustomization.yaml
  kubernetes/apps/main/maker/kustomization.yaml
  kubernetes/apps/main/maker/spoolman.yaml
Labels: area/kubernetes

spoolman migration
  kubernetes/apps/casa/3d-print/kustomization.yaml
Labels: area/kubernetes, cluster/casa

openwebui
  docs/redis-db-usage.md
  kubernetes/apps/base/llm/open-webui/externalsecret.yaml
  kubernetes/apps/base/llm/open-webui/helmrelease.yaml
  kubernetes/apps/casa/llm/kustomization.yaml
  kubernetes/apps/main/llm/kustomization.yaml
  kubernetes/apps/main/llm/open-webui.yaml
Labels: area/kubernetes, cluster/casa

open-webui
  kubernetes/apps/base/llm/open-webui/helmrelease.yaml
  kubernetes/apps/main/llm/kustomization.yaml
  kubernetes/apps/main/llm/open-webui.yaml
Labels: area/kubernetes

open-webui
  kubernetes/apps/base/llm/open-webui/helmrelease.yaml
  kubernetes/apps/main/llm/open-webui.yaml
Labels: area/kubernetes

open-webui
  kubernetes/apps/base/llm/open-webui/helmrelease.yaml
Labels: area/kubernetes

webui
  kubernetes/apps/base/llm/open-webui/helmrelease.yaml
Labels: area/kubernetes

ui
  kubernetes/apps/main/llm/kustomization.yaml
Labels: area/kubernetes

ui
  kubernetes/apps/main/llm/kustomization.yaml
Labels: area/kubernetes

publish-k8s-schemas
  kubernetes/apps/base/jobs/publish-k8s-schemas/externalsecret.yaml
  kubernetes/apps/base/jobs/publish-k8s-schemas/helmrelease.yaml
  kubernetes/apps/casa/jobs/kustomization.yaml
  kubernetes/apps/main/jobs/kustomization.yaml
Labels: area/kubernetes, cluster/casa

ndots
  kubernetes/apps/base/jobs/publish-k8s-schemas/helmrelease.yaml
Labels: area/kubernetes

basic auth
  kubernetes/apps/main/maker/spoolman.yaml
  kubernetes/components/envoy/basic/README.md
  kubernetes/components/envoy/basic/externalsecret.yaml
  kubernetes/components/envoy/basic/kustomization.yaml
  kubernetes/components/envoy/basic/securitypolicy.yaml
Labels: area/kubernetes

moonraker not supports auth for spoolman
  kubernetes/apps/main/maker/spoolman.yaml
Labels: area/kubernetes

retry
  kubernetes/apps/main/maker/spoolman.yaml
Labels: area/kubernetes

new ext-auth component
  kubernetes/apps/casa/database/dbgate.yaml
  kubernetes/apps/casa/download/calibre-downloader.yaml
  kubernetes/apps/casa/download/prowlarr.yaml
  kubernetes/apps/casa/download/radarr.yaml
  kubernetes/apps/casa/download/readarr.yaml
  kubernetes/apps/casa/download/sabnzbd.yaml
  kubernetes/apps/casa/download/sonarr.yaml
  kubernetes/apps/casa/observability/dozzle.yaml
  kubernetes/apps/casa/observability/exporters/blackbox-exporter.yaml
  kubernetes/apps/casa/observability/exporters/nut-exporter.yaml
  kubernetes/apps/casa/observability/exporters/pve-exporter.yaml
  kubernetes/apps/casa/observability/kube-prometheus-stack.yaml
  kubernetes/apps/casa/self-hosted/change-detection.yaml
  kubernetes/apps/casa/self-hosted/homepage.yaml
  kubernetes/apps/main/database/dbgate.yaml
  kubernetes/apps/main/observability/dozzle.yaml
  kubernetes/apps/main/observability/exporters/nut-exporter.yaml
  kubernetes/apps/main/observability/kube-prometheus-stack.yaml
  kubernetes/apps/main/observability/victoria-logs.yaml
  kubernetes/apps/main/storage/garage.yaml
  kubernetes/apps/main/storage/kopia.yaml
  kubernetes/apps/main/storage/longhorn.yaml
  kubernetes/components/envoy/ext-auth/README.md
  kubernetes/components/envoy/ext-auth/kustomization.yaml
  kubernetes/components/envoy/ext-auth/securitypolicy.yaml
  kubernetes/components/envoy/ext-auth/two/kustomization.yaml
  kubernetes/components/envoy/ext-auth/two/securitypolicy.yaml
Labels: area/kubernetes, cluster/casa
