Repository sstr-dev/infrastructure, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/scripts, area/talos, area/taskfile, area/renovate, area/terraform, area/ansible, cluster/core, cluster/casa

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - .renovate/**/*
          - .renovaterc.json5
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
# Cluster
cluster/core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/core/**/*
cluster/casa:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/casa/**/*

longhorn backups
  kubernetes/apps/base/storage/longhorn/helmrelease.yaml
Labels: area/kubernetes

backupTarget
  kubernetes/apps/base/storage/longhorn/helmrelease.yaml
Labels: area/kubernetes

longhorn-backups
  kubernetes/apps/base/storage/longhorn/helmrelease.yaml
Labels: area/kubernetes

longhorn
  kubernetes/apps/base/storage/longhorn/README.md
  kubernetes/apps/base/storage/longhorn/helmrelease.yaml
Labels: area/kubernetes

test
  kubernetes/apps/main/default/kustomization.yaml
  kubernetes/apps/main/default/test.yaml
  kubernetes/apps/main/default/test/helmrelease.yaml
  kubernetes/apps/main/default/test/kustomization.yaml
Labels: area/kubernetes

test
  kubernetes/apps/main/default/test.yaml
  kubernetes/components/volsync/README.md
Labels: area/kubernetes

volsync-maintenance
  kubernetes/apps/base/storage/volsync-maintenance/externalsecret.yaml
Labels: area/kubernetes

volsync
  kubernetes/components/volsync/kustomization.yaml
Labels: area/kubernetes

test not work yet with longhorn and replicas
  kubernetes/apps/main/default/kustomization.yaml
Labels: area/kubernetes

test
  kubernetes/apps/base/storage/volsync-maintenance/externalsecret.yaml
  kubernetes/apps/main/default/kustomization.yaml
Labels: area/kubernetes

longhorn
  kubernetes/apps/base/storage/longhorn/helmrelease.yaml
Labels: area/kubernetes

longhorn
  kubernetes/apps/base/storage/longhorn/helmrelease.yaml
Labels: area/kubernetes

test2
  kubernetes/apps/main/default/test.yaml
  kubernetes/components/volsync/pvc.yaml
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
  talos/main/nodes/wk01.k8s.main.internal.yaml.j2
  talos/main/nodes/wk02.k8s.main.internal.yaml.j2
  talos/main/nodes/wk03.k8s.main.internal.yaml.j2
Labels: area/kubernetes, area/talos

test
  kubernetes/apps/main/default/kustomization.yaml
Labels: area/kubernetes

test
  kubernetes/apps/main/default/kustomization.yaml
Labels: area/kubernetes

volumesnapshotclass
  kubernetes/apps/base/storage/longhorn/kustomization.yaml
  kubernetes/apps/base/storage/longhorn/volumesnapshotclass.yaml
Labels: area/kubernetes

test
  kubernetes/apps/main/default/kustomization.yaml
  kubernetes/components/volsync/replicationdestination.yaml
Labels: area/kubernetes

test
  kubernetes/apps/main/default/kustomization.yaml
Labels: area/kubernetes

rem test
  kubernetes/apps/main/default/kustomization.yaml
Labels: area/kubernetes

volsync / kopia
  kubernetes/components/volsync/README.md
  kubernetes/components/volsync/kopia/README.md
  kubernetes/components/volsync/kopia/externalsecret.yaml
  kubernetes/components/volsync/kopia/kustomization.yaml
  kubernetes/components/volsync/kopia/pvc.yaml
  kubernetes/components/volsync/kopia/replicationdestination.yaml
  kubernetes/components/volsync/kopia/replicationsource.yaml
  kubernetes/components/volsync/local/externalsecret.yaml
  kubernetes/components/volsync/local/kustomization.yaml
  kubernetes/components/volsync/local/replicationdestination.yaml
  kubernetes/components/volsync/local/replicationsource.yaml
  kubernetes/components/volsync/pvc.yaml
Labels: area/kubernetes

readme
  kubernetes/apps/base/storage/longhorn/README.md
Labels: area/kubernetes

test2
  kubernetes/apps/main/default/kustomization.yaml
  kubernetes/apps/main/default/test2.yaml
  kubernetes/apps/main/default/test2/helmrelease.yaml
  kubernetes/apps/main/default/test2/kustomization.yaml
Labels: area/kubernetes

test2
  kubernetes/apps/main/default/test2.yaml
Labels: area/kubernetes

test
  kubernetes/apps/main/default/kustomization.yaml
Labels: area/kubernetes

test2
  kubernetes/apps/main/default/kustomization.yaml
Labels: area/kubernetes

kopia
  kubernetes/components/volsync/local/replicationdestination.yaml
  kubernetes/components/volsync/local/replicationsource.yaml
Labels: area/kubernetes

test
  kubernetes/components/volsync/local/replicationdestination.yaml
Labels: area/kubernetes

ttest
  kubernetes/components/volsync/local/replicationdestination.yaml
Labels: area/kubernetes

test
  kubernetes/components/volsync/local/replicationdestination.yaml
Labels: area/kubernetes

test
  kubernetes/apps/main/default/kustomization.yaml
  kubernetes/components/volsync/local/replicationdestination.yaml
Labels: area/kubernetes

VolSync component changes
  kubernetes/components/volsync/README.md
  kubernetes/components/volsync/kopia/README.md
  kubernetes/components/volsync/kopia/externalsecret.yaml
  kubernetes/components/volsync/kopia/kustomization.yaml
  kubernetes/components/volsync/kopia/pvc.yaml
  kubernetes/components/volsync/kopia/replicationdestination.yaml
  kubernetes/components/volsync/kopia/replicationsource.yaml
  kubernetes/components/volsync/local/replicationdestination.yaml
  kubernetes/components/volsync/local/replicationsource.yaml
Labels: area/kubernetes

test2
  kubernetes/apps/main/default/kustomization.yaml
Labels: area/kubernetes

searxng
  kubernetes/apps/base/llm/searxng/helmrelease.yaml
  kubernetes/apps/base/llm/searxng/resources/limiter.toml
  kubernetes/apps/main/llm/kustomization.yaml
  kubernetes/apps/main/llm/searxng.yaml
  kubernetes/components/dragonfly/cluster.yaml
Labels: area/kubernetes

search
  kubernetes/apps/base/llm/searxng/resources/limiter.toml
Labels: area/kubernetes

search GATEWAY
  kubernetes/apps/base/llm/searxng/helmrelease.yaml
  kubernetes/apps/casa/llm/searxng.yaml
  kubernetes/apps/main/llm/searxng.yaml
Labels: area/kubernetes, cluster/casa

Search
  kubernetes/apps/base/llm/searxng/resources/limiter.toml
  kubernetes/apps/base/llm/searxng/resources/settings.yml
Labels: area/kubernetes

cfg
  kubernetes/apps/base/llm/searxng/helmrelease.yaml
  kubernetes/apps/base/llm/searxng/resources/limiter.toml
Labels: area/kubernetes

cfg
  kubernetes/apps/base/llm/searxng/resources/limiter.toml
Labels: area/kubernetes

envoy
  kubernetes/apps/base/network/envoy-gateway/helmrelease.yaml
  kubernetes/apps/base/network/envoy-gateway/ocirepository.yaml
  kubernetes/apps/main/network/envoy-gateway/envoy.yaml
Labels: area/kubernetes

test2
  kubernetes/apps/main/default/kustomization.yaml
Labels: area/kubernetes
