Repository sstr-dev/infrastructure, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/scripts, area/talos, area/taskfile, area/renovate, area/terraform, area/ansible, cluster/core, cluster/casa

smtp-relay
  kubernetes/apps/base/network/smtp-relay/config/maddy.conf
  kubernetes/apps/base/network/smtp-relay/externalsecret.yaml
  kubernetes/apps/base/network/smtp-relay/helmrelease.yaml
  kubernetes/apps/base/network/smtp-relay/kustomization.yaml
  kubernetes/apps/main/network/kustomization.yaml
  kubernetes/apps/main/network/smtp-relay.yaml
Labels: area/kubernetes

smtp-relay test
  kubernetes/apps/base/network/smtp-relay/test-job.yaml
Labels: area/kubernetes

test restore
  kubernetes/apps/main/default/kustomization.yaml
  kubernetes/apps/main/default/test2/helmrelease.yaml
Labels: area/kubernetes

tasks
  .taskfiles/Database/Taskfile.yaml
  .taskfiles/Kubeblocks/Taskfile.yaml
  .taskfiles/VolSync/Taskfile.yaml
  Taskfile.yaml
Labels: area/taskfile

extend database tasks
  .gitignore
  .taskfiles/Database/Taskfile.yaml
  Taskfile.yaml
Labels: area/taskfile

n8n db move
  .taskfiles/Database/Taskfile.yaml
  kubernetes/apps/base/automation/n8n/externalsecret.yaml
Labels: area/kubernetes, area/taskfile

n8n
  kubernetes/apps/base/automation/n8n/externalsecret.yaml
Labels: area/kubernetes

pg ext
  .taskfiles/Database/Taskfile.yaml
  kubernetes/apps/base/network/external-services/kustomization.yaml
  kubernetes/apps/base/network/external-services/postgres-main.yaml
  kubernetes/apps/base/network/external-services/postgres-timescale-main.yaml
  kubernetes/apps/base/network/external-services/postgres-vector-main.yaml
  kubernetes/vars/casa/cluster-secrets.sops.yaml
Labels: area/kubernetes, area/taskfile, cluster/casa

n8n use ext services
  kubernetes/apps/base/automation/n8n/externalsecret.yaml
Labels: area/kubernetes

eyperiments with volsync and recover
  kubernetes/apps/base/media/jellyfin/helmrelease.yaml
  kubernetes/apps/main/default/test2.yaml
  kubernetes/components/volmigrate/nfs/README.md
  kubernetes/components/volmigrate/nfs/job.yaml
  kubernetes/components/volmigrate/nfs/kustomization.yaml
  kubernetes/migration/common/kustomization.yaml
Labels: area/kubernetes

test2 migrate test
  kubernetes/apps/main/default/kustomization.yaml
  kubernetes/apps/main/default/test2.yaml
  kubernetes/components/volmigrate/nfs/README.md
  kubernetes/components/volmigrate/nfs/job.yaml
  kubernetes/components/volmigrate/nfs/kustomization.yaml
Labels: area/kubernetes

folder and sync as root (file owners)
  kubernetes/apps/base/migration/common/kustomization.yaml
  kubernetes/apps/main/default/test2.yaml
  kubernetes/components/volmigrate/nfs/README.md
  kubernetes/components/volmigrate/nfs/job.yaml
Labels: area/kubernetes

test2
  kubernetes/apps/main/default/test2.yaml
Labels: area/kubernetes

test2
  kubernetes/apps/main/default/test2.yaml
Labels: area/kubernetes

test2
  kubernetes/apps/main/default/kustomization.yaml
Labels: area/kubernetes

test
  kubernetes/apps/main/default/kustomization.yaml
Labels: area/kubernetes

test
  kubernetes/components/volmigrate/nfs/job.yaml
Labels: area/kubernetes

BOOTSTRAP_DEBUG_END_SLEEP
  kubernetes/apps/main/default/test2.yaml
  kubernetes/components/volmigrate/nfs/job.yaml
Labels: area/kubernetes

rem
  kubernetes/apps/main/default/kustomization.yaml
  kubernetes/apps/main/default/test2.yaml
Labels: area/kubernetes

test
  kubernetes/apps/main/default/kustomization.yaml
  kubernetes/components/volmigrate/nfs/README.md
Labels: area/kubernetes

test2
  kubernetes/apps/main/default/test2.yaml
Labels: area/kubernetes

prepare n8n
  .taskfiles/VolSync/Taskfile.yaml
  kubernetes/apps/main/automation/kustomization.yaml
  kubernetes/apps/main/automation/n8n.yaml
Labels: area/kubernetes, area/taskfile

casa -n8n
  kubernetes/apps/casa/automation/kustomization.yaml
Labels: area/kubernetes, cluster/casa

n8n
  kubernetes/apps/base/automation/n8n/externalsecret.yaml
  kubernetes/apps/base/automation/n8n/helmrelease.yaml
  kubernetes/vars/main/secrets/cluster-secrets.sops.yaml
Labels: area/kubernetes

n8n
  kubernetes/apps/main/automation/n8n.yaml
Labels: area/kubernetes

n8n config
  kubernetes/apps/base/automation/n8n/helmrelease.yaml
Labels: area/kubernetes

n8n
  kubernetes/apps/base/automation/n8n/helmrelease.yaml
Labels: area/kubernetes

it-tools
  kubernetes/apps/base/self-hosted/it-tools/helmrelease.yaml
  kubernetes/apps/casa/self-hosted/kustomization.yaml
  kubernetes/apps/main/self-hosted/it-tools.yaml
  kubernetes/apps/main/self-hosted/kustomization.yaml
  kubernetes/vars/main/namespaces/self-hosted/kustomization.yaml
Labels: area/kubernetes, cluster/casa

updates
  kubernetes/apps/base/network/cloudflare-tunnel/helmrelease.yaml
  kubernetes/apps/base/self-hosted/it-tools/helmrelease.yaml
Labels: area/kubernetes

dragonfly cluster
  kubernetes/apps/main/database/dragonfly.yaml
  kubernetes/apps/main/database/dragonfly/cluster/cluster.yaml
  kubernetes/apps/main/database/dragonfly/cluster/externalsecret.yaml
  kubernetes/apps/main/database/dragonfly/cluster/kustomization.yaml
  kubernetes/apps/main/database/dragonfly/cluster/podmonitor.yaml
  kubernetes/vars/main/namespaces/dev/kustomization.yaml
  kubernetes/vars/main/namespaces/dev/secrets.sops.yaml
  kubernetes/vars/main/secrets/cluster-secrets.sops.yaml
Labels: area/kubernetes

fix secret
  kubernetes/vars/main/secrets/cluster-secrets.sops.yaml
Labels: area/kubernetes

dragonfly
  kubernetes/apps/main/database/dragonfly/cluster/cluster.yaml
Labels: area/kubernetes

dragonfly
  kubernetes/apps/main/database/dragonfly.yaml
Labels: area/kubernetes

git
  kubernetes/apps/base/dev/forgejo/externalsecret.yaml
  kubernetes/apps/base/dev/forgejo/helmrelease.yaml
  kubernetes/apps/base/dev/forgejo/kustomization.yaml
  kubernetes/apps/base/dev/forgejo/pvc.yaml
  kubernetes/apps/main/dev/forgejo.yaml
  kubernetes/apps/main/dev/kustomization.yaml
Labels: area/kubernetes

forgejo
  docs/network-ip-usage.md
  kubernetes/apps/main/dev/forgejo.yaml
  kubernetes/apps/main/dev/kustomization.yaml
Labels: area/kubernetes

git cfg update
  kubernetes/apps/base/dev/forgejo/helmrelease.yaml
Labels: area/kubernetes

cfg
  kubernetes/apps/base/dev/forgejo/helmrelease.yaml
Labels: area/kubernetes

forgejo-runner
  kubernetes/apps/base/dev/forgejo-runner/externalsecret.yaml
  kubernetes/apps/base/dev/forgejo-runner/helmrelease.yaml
  kubernetes/apps/base/dev/forgejo-runner/kustomization.yaml
  kubernetes/apps/base/dev/forgejo/helmrelease.yaml
  kubernetes/apps/main/dev/forgejo.yaml
Labels: area/kubernetes

runner
  kubernetes/apps/base/dev/forgejo-runner/helmrelease.yaml
Labels: area/kubernetes

test2
  kubernetes/apps/main/default/kustomization.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - .renovate/**/*
          - .renovaterc.json5
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
# Cluster
cluster/core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/core/**/*
cluster/casa:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/casa/**/*
