Repository sstr-dev/infrastructure, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/scripts, area/talos, area/taskfile, area/renovate, area/terraform, area/ansible, cluster/core, cluster/casa

spoolman metrics
  kubernetes/apps/base/3d-print/spoolman/helmrelease.yaml
Labels: area/kubernetes

postgres-observability
  kubernetes/apps/casa/observability/grafana.yaml
  kubernetes/apps/casa/observability/kustomization.yaml
  kubernetes/apps/casa/observability/postgres-observability-cluster.yaml
Labels: area/kubernetes, cluster/casa

grafana db
  kubernetes/apps/base/observability/grafana/externalsecret.yaml
  kubernetes/apps/base/observability/grafana/helmrelease.yaml
  kubernetes/apps/casa/observability/grafana.yaml
Labels: area/kubernetes, cluster/casa

kubernetes-schemas
  kubernetes/apps/base/jobs/publish-k8s-schemas/externalsecret.yaml
  kubernetes/apps/base/jobs/publish-k8s-schemas/helmrelease.yaml
  kubernetes/apps/base/jobs/publish-k8s-schemas/kustomization.yaml
  kubernetes/apps/casa/jobs/kustomization.yaml
  kubernetes/apps/casa/jobs/publish-k8s-schemas.yaml
Labels: area/kubernetes, cluster/casa

fix
  kubernetes/apps/base/jobs/publish-k8s-schemas/externalsecret.yaml
Labels: area/kubernetes

schemas
  kubernetes/components/cnpg/backup/scheduledbackup.yaml
  kubernetes/components/cnpg/base/cluster.yaml
  kubernetes/components/dragonfly/cluster.yaml
  kubernetes/components/mariadb/database/database.yaml
  kubernetes/components/mariadb/database/grant.yaml
  kubernetes/components/mariadb/database/user.yaml
  kubernetes/components/postgres/cluster.yaml
Labels: area/kubernetes

prepare blinko folder
  kubernetes/apps/base/self-hosted/blinko/kustomization.yaml
Labels: area/kubernetes

remove vm node exporter
  kubernetes/apps/base/observability/kube-prometheus-stack/helmrelease.yaml
Labels: area/kubernetes

add dozzle
  kubernetes/apps/base/observability/dozzle/helmrelease.yaml
  kubernetes/apps/base/observability/dozzle/kustomization.yaml
  kubernetes/apps/casa/observability/dozzle.yaml
  kubernetes/apps/casa/observability/kustomization.yaml
Labels: area/kubernetes, cluster/casa

dozzle
  kubernetes/apps/base/observability/dozzle/helmrelease.yaml
Labels: area/kubernetes

dozzle
  kubernetes/apps/base/observability/dozzle/helmrelease.yaml
Labels: area/kubernetes

dozzle
  kubernetes/apps/base/observability/dozzle/helmrelease.yaml
Labels: area/kubernetes

dozzle
  kubernetes/apps/base/observability/dozzle/helmrelease.yaml
Labels: area/kubernetes

dozzle
  kubernetes/apps/base/observability/dozzle/helmrelease.yaml
Labels: area/kubernetes

dozzle
  kubernetes/apps/base/observability/dozzle/helmrelease.yaml
  kubernetes/apps/casa/observability/dozzle.yaml
Labels: area/kubernetes, cluster/casa

dozzle
  kubernetes/apps/base/observability/dozzle/helmrelease.yaml
Labels: area/kubernetes

dozzle
  kubernetes/apps/base/observability/dozzle/helmrelease.yaml
Labels: area/kubernetes

dozzle
  kubernetes/apps/base/observability/dozzle/helmrelease.yaml
Labels: area/kubernetes

dozzle
  kubernetes/apps/base/observability/dozzle/helmrelease.yaml
Labels: area/kubernetes

dozzle
  kubernetes/apps/base/observability/dozzle/helmrelease.yaml
Labels: area/kubernetes

ocsinventory
  kubernetes/apps/base/self-hosted/ocsinventory/externalsecret.yaml
  kubernetes/apps/base/self-hosted/ocsinventory/helmrelease.yaml
  kubernetes/apps/base/self-hosted/ocsinventory/kustomization.yaml
  kubernetes/apps/casa/self-hosted/kustomization.yaml
  kubernetes/apps/casa/self-hosted/ocsinventory.yaml
Labels: area/kubernetes, cluster/casa

ocsinventory
  kubernetes/apps/base/self-hosted/ocsinventory/helmrelease.yaml
Labels: area/kubernetes

ocs
  kubernetes/apps/base/self-hosted/ocsinventory/helmrelease.yaml
Labels: area/kubernetes

ocsinventory
  kubernetes/apps/base/self-hosted/ocsinventory/helmrelease.yaml
Labels: area/kubernetes

ocsinventory
  kubernetes/apps/base/self-hosted/ocsinventory/helmrelease.yaml
Labels: area/kubernetes

ocs cron
  kubernetes/apps/base/self-hosted/ocsinventory/helmrelease.yaml
Labels: area/kubernetes

ocsinventory-job
  kubernetes/apps/base/self-hosted/ocsinventory/helmrelease.yaml
Labels: area/kubernetes

ocsinventory-job
  kubernetes/apps/base/self-hosted/ocsinventory/helmrelease.yaml
Labels: area/kubernetes

job-helmrelease
  kubernetes/apps/base/self-hosted/ocsinventory/helmrelease.yaml
  kubernetes/apps/base/self-hosted/ocsinventory/job-helmrelease.yaml
  kubernetes/apps/base/self-hosted/ocsinventory/kustomization.yaml
Labels: area/kubernetes

ocsinventory-job
  kubernetes/apps/base/self-hosted/ocsinventory/job-helmrelease.yaml
Labels: area/kubernetes

ocsinventory-job
  kubernetes/apps/base/self-hosted/ocsinventory/job-helmrelease.yaml
Labels: area/kubernetes

ocsinventory-job
  kubernetes/apps/base/self-hosted/ocsinventory/job-helmrelease.yaml
Labels: area/kubernetes

ocsinventory-job
  kubernetes/apps/base/self-hosted/ocsinventory/job-helmrelease.yaml
Labels: area/kubernetes

ocsinventory-job
  kubernetes/apps/base/self-hosted/ocsinventory/job-helmrelease.yaml
Labels: area/kubernetes

ocsinventory-job
  kubernetes/apps/base/self-hosted/ocsinventory/job-helmrelease.yaml
Labels: area/kubernetes

Update CODEOWNERS
  .github/CODEOWNERS
Labels: area/github

ups-d
  kubernetes/apps/base/kube-system/nut-upsd/externalsecret.yaml
  kubernetes/apps/base/kube-system/nut-upsd/helmrelease.yaml
  kubernetes/apps/base/kube-system/nut-upsd/kustomization.yaml
  kubernetes/apps/casa/kube-system/nut-upsd.yaml
  kubernetes/vars/casa/cluster-settings.yaml
Labels: area/kubernetes, cluster/casa

ups
  kubernetes/apps/base/kube-system/nut-upsd/helmrelease.yaml
  kubernetes/config/casa-rke2/nodes.yaml
Labels: area/kubernetes

ups config
  kubernetes/apps/base/kube-system/nut-upsd/helmrelease.yaml
  kubernetes/apps/casa/kube-system/config/nut-upsd/kustomization.yaml
  kubernetes/apps/casa/kube-system/config/nut-upsd/ups.conf
  kubernetes/apps/casa/kube-system/nut-upsd.yaml
Labels: area/kubernetes, cluster/casa

test
  kubernetes/apps/casa/kube-system/config/nut-upsd/ups.conf
Labels: area/kubernetes, cluster/casa

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - .renovate/**/*
          - .renovaterc.json5
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
# Cluster
cluster/core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/core/**/*
cluster/casa:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/casa/**/*
