Repository sstr-dev/infrastructure, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/scripts, area/talos, area/taskfile, area/renovate, area/terraform, area/ansible, cluster/core, cluster/casa

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - .renovate/**/*
          - .renovaterc.json5
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
# Cluster
cluster/core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/core/**/*
cluster/casa:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/casa/**/*

envoy auth component readme
  kubernetes/components/envoy/README.md
Labels: area/kubernetes

format
  kubernetes/components/envoy/README.md
Labels: area/kubernetes

cleanup, auth readme (substitutes)
  .archive/kubernetes/components/ext-auth/README.md
  .archive/kubernetes/components/ext-auth/kustomization.yaml
  .archive/kubernetes/components/ext-auth/securitypolicy.yaml
  .archive/kubernetes/components/ext-auth/two/kustomization.yaml
  .archive/kubernetes/components/ext-auth/two/securitypolicy.yaml
  kubernetes/components/envoy/oidc/authentik/README.md
  kubernetes/components/envoy/oidc/authentik/_base/externalsecret.yaml
Labels: area/kubernetes

bulk merge
  .github/workflows/bulk-merge-prs.yaml
Labels: area/github

update
  ansible/requirements.txt
  kubernetes/apps/base/database/dbgate/helmrelease.yaml
Labels: area/kubernetes, area/ansible

talos readme
  .taskfiles/Talos/README.md
  .taskfiles/Talos/Taskfile.yaml
Labels: area/taskfile

cnpg
  kubernetes/apps/main/database/cloudnative-pg.yaml
  talos/main/nodes/wk01.k8s.main.internal.yaml.j2
  talos/main/nodes/wk02.k8s.main.internal.yaml.j2
  talos/main/nodes/wk03.k8s.main.internal.yaml.j2
Labels: area/kubernetes, area/talos

img
  kubernetes/apps/main/database/cloudnative-pg.yaml
Labels: area/kubernetes

cnpg
  kubernetes/apps/main/database/cloudnative-pg.yaml
Labels: area/kubernetes

deactivate webui
  kubernetes/apps/main/llm/kustomization.yaml
Labels: area/kubernetes

gatus
  kubernetes/apps/base/maker/spoolman/helmrelease.yaml
Labels: area/kubernetes

network-high-level-pattern
  docs/network-high-level-pattern.md
Labels: none

docs
  docs/README.md
  docs/application-pattern.md
  docs/cluster-bootstrap-pattern.md
  docs/cluster-variants.md
  docs/database-pattern.md
  docs/gitops-delivery-pattern.md
  docs/identity-and-access-pattern.md
  docs/ingress-and-service-exposure-pattern.md
  docs/operations-guide.md
  docs/secret-management-pattern.md
  docs/storage-and-backup-pattern.md
Labels: none

Architecture
  docs/README.md
Labels: none

hardware
  docs/README.md
  docs/hardware-high-level-pattern.md
Labels: none

hardware
  docs/hardware-high-level-pattern.md
Labels: none

grouped documentation
  docs/README.md
  docs/architecture/cluster-bootstrap-pattern.md
  docs/architecture/cluster-variants.md
  docs/architecture/gitops-delivery-pattern.md
  docs/architecture/hardware-high-level-pattern.md
  docs/architecture/network-high-level-pattern.md
  docs/operations/operations-guide.md
  docs/platform/application-pattern.md
  docs/platform/database-pattern.md
  docs/platform/identity-and-access-pattern.md
  docs/platform/ingress-and-service-exposure-pattern.md
  docs/platform/secret-management-pattern.md
  docs/platform/storage-and-backup-pattern.md
  docs/reference/network-ip-usage.md
  docs/reference/redis-db-usage.md
Labels: none

task pattern
  docs/README.md
  docs/operations/taskfiles-pattern.md
Labels: none

action runner base
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/apps/main/actions-runner-system/actions-runner-controller.yaml
  kubernetes/apps/main/actions-runner-system/actions-runner-home-ops-dind.yaml
  kubernetes/apps/main/actions-runner-system/actions-runner-home-ops.yaml
  kubernetes/apps/main/actions-runner-system/actions-runner-organization.yaml
  kubernetes/apps/main/actions-runner-system/kustomization.yaml
Labels: area/kubernetes

corrections
  kubernetes/apps/main/actions-runner-system/kustomization.yaml
Labels: area/kubernetes

notes for Registry (harbor node)
  docs/reference/network-ip-usage.md
Labels: none

vars prep
  kubernetes/vars/registry/cluster/kustomization.yaml
  kubernetes/vars/registry/namespaces/external-secrets/kustomization.yaml
  kubernetes/vars/registry/namespaces/external-secrets/secrets.sops.yaml
  kubernetes/vars/registry/settings/cluster-settings.yaml
  kubernetes/vars/registry/settings/kustomization.yaml
  kubernetes/vars/test/cluster/kustomization.yaml
  kubernetes/vars/test/settings/cluster-settings.yaml
  kubernetes/vars/test/settings/kustomization.yaml
Labels: area/kubernetes

prepare registry bootstap and apps
  bootstrap/registry/helmfile.d/00-crds.yaml
  bootstrap/registry/helmfile.d/01-apps.yaml
  bootstrap/registry/vault-cluster-creds.sops.yaml
  kubernetes/apps/registry/cert-manager/cert-manager.yaml
  kubernetes/apps/registry/cert-manager/kustomization.yaml
  kubernetes/apps/registry/external-secrets/external-secrets-pdb.yaml
  kubernetes/apps/registry/external-secrets/external-secrets.yaml
  kubernetes/apps/registry/external-secrets/kustomization.yaml
  kubernetes/apps/registry/flux-system/addons.yaml
  kubernetes/apps/registry/flux-system/flux-operator.yaml
  kubernetes/apps/registry/flux-system/kustomization.yaml
  kubernetes/apps/registry/kube-system/cilium.yaml
  kubernetes/apps/registry/kube-system/cilium/kustomization.yaml
  kubernetes/apps/registry/kube-system/cilium/networking.yaml
  kubernetes/apps/registry/kube-system/coredns.yaml
  kubernetes/apps/registry/kube-system/kustomization.yaml
  kubernetes/apps/registry/kube-system/metrics-server.yaml
  kubernetes/apps/registry/kube-tools/kustomization.yaml
  kubernetes/apps/registry/kube-tools/reloader.yaml
  kubernetes/apps/registry/network/certificates.yaml
  kubernetes/apps/registry/network/cloudflare-tunnel.yaml
  kubernetes/apps/registry/network/echo/httproute.yaml
  kubernetes/apps/registry/network/echo/kustomization.yaml
  kubernetes/apps/registry/network/envoy-gateway.yaml
  kubernetes/apps/registry/network/envoy-gateway/envoy.yaml
  kubernetes/apps/registry/network/envoy-gateway/kustomization.yaml
  kubernetes/apps/registry/network/envoy-gateway/observability.yaml
  kubernetes/apps/registry/network/kustomization.yaml
  kubernetes/apps/registry/network/smtp-relay.yaml
  kubernetes/apps/registry/network/unifi-dns.yaml
  kubernetes/apps/registry/observability/kustomization.yaml
  kubernetes/apps/registry/storage/kustomization.yaml
  kubernetes/apps/registry/storage/openebs.yaml
  kubernetes/vars/registry/secrets/cluster-secrets.sops.yaml
  kubernetes/vars/registry/secrets/kustomization.yaml
Labels: area/bootstrap, area/kubernetes

prepare registry
  kubernetes/apps/registry/external-secrets/external-secrets-pdb.yaml
  kubernetes/apps/registry/external-secrets/kustomization.yaml
  kubernetes/apps/registry/kube-system/metrics-server.yaml
  kubernetes/apps/registry/network/certificates/export/certificate.yaml
  kubernetes/apps/registry/network/certificates/export/kustomization.yaml
  kubernetes/apps/registry/network/certificates/export/pushsecret.yaml
  kubernetes/apps/registry/network/certificates/import/externalsecret.yaml
  kubernetes/apps/registry/network/certificates/import/kustomization.yaml
  kubernetes/apps/registry/network/envoy-gateway.yaml
Labels: area/kubernetes

reg
  docs/reference/network-ip-usage.md
  kubernetes/apps/registry/network/envoy-gateway.yaml
  kubernetes/apps/registry/network/envoy-gateway/envoy.yaml
  kubernetes/apps/registry/network/unifi-dns/externalsecret.yaml
  kubernetes/apps/registry/network/unifi-dns/helmrelease.yaml
  kubernetes/apps/registry/network/unifi-dns/kustomization.yaml
  kubernetes/clusters/registry/apps.yaml
  kubernetes/clusters/registry/flux-instance.yaml
  kubernetes/clusters/registry/flux-instance/helmrelease.yaml
  kubernetes/clusters/registry/flux-instance/kustomization.yaml
  kubernetes/clusters/registry/flux-instance/prometheusrule.yaml
Labels: area/kubernetes

reg config
  .envrc
  kubernetes/apps/registry/network/echo/httproute.yaml
  kubernetes/apps/registry/network/echo/kustomization.yaml
  kubernetes/apps/registry/network/unifi-dns/helmrelease.yaml
  talos/registry/machineconfig.yaml.j2
  talos/registry/nodes/cp01.k8s.registry.internal.yaml.j2
  talos/registry/schematic.yaml
Labels: area/kubernetes, area/talos

add grafaba
  bootstrap/registry/helmfile.d/00-crds.yaml
Labels: area/bootstrap

add grafana crds
  .taskfiles/Talos/Taskfile.yaml
  scripts/only-talos-crds.sh
Labels: area/scripts, area/taskfile

fix clname
  kubernetes/clusters/registry/apps.yaml
Labels: area/kubernetes

fix naming
  kubernetes/apps/registry/network/certificates.yaml
  kubernetes/apps/registry/network/unifi-dns.yaml
Labels: area/kubernetes

update
  kubernetes/clusters/registry/apps.yaml
Labels: area/kubernetes

harbor (helm)
  kubernetes/apps/registry/harbor/harbor.yaml
  kubernetes/apps/registry/harbor/harbor/certificate.yaml
  kubernetes/apps/registry/harbor/harbor/externalsecret.yaml
  kubernetes/apps/registry/harbor/harbor/helmrelease.yaml
  kubernetes/apps/registry/harbor/harbor/kustomization.yaml
  kubernetes/apps/registry/harbor/harbor/registry-pvc.yaml
  kubernetes/apps/registry/harbor/kustomization.yaml
  kubernetes/apps/registry/network/certificates.yaml
  kubernetes/vars/registry/settings/cluster-settings.yaml
Labels: area/kubernetes

harbor-backup
  kubernetes/apps/registry/harbor/harbor-backup/helmrelease.yaml
  kubernetes/apps/registry/harbor/harbor-backup/kustomization.yaml
  kubernetes/apps/registry/harbor/harbor-backup/restore.yaml
  kubernetes/apps/registry/harbor/harbor.yaml
Labels: area/kubernetes

fix
  .envrc
  kubernetes/apps/test/external-secrets/kustomization.yaml
  kubernetes/apps/test/network/kustomization.yaml
  kubernetes/apps/test/observability/kustomization.yaml
  kubernetes/apps/test/storage/kustomization.yaml
Labels: area/kubernetes

org action runner
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/runners/organization/externalsecret.yaml
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/runners/organization/helmrelease-dind.yaml
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/runners/organization/helmrelease.yaml
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/runners/organization/kustomization.yaml
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/runners/organization/rbac.yaml
  kubernetes/apps/main/actions-runner-system/actions-runner-organization.yaml
  kubernetes/apps/main/actions-runner-system/kustomization.yaml
Labels: area/kubernetes

readme rework
  README.md
Labels: area/docs

readme and cleanup
  .archive/kubernetes/apps/base/network/k8s-gateway/helmrelease.yaml
  .archive/kubernetes/apps/base/network/k8s-gateway/kustomization.yaml
  kubernetes/apps/base/actions-runner-system/README.md
  kubernetes/apps/base/automation/README.md
  kubernetes/apps/base/cert-manager/README.md
  kubernetes/apps/base/database/README.md
  kubernetes/apps/base/download/README.md
  kubernetes/apps/base/external-secrets/README.md
  kubernetes/apps/base/flux-system/README.md
  kubernetes/apps/base/home-automation/README.md
  kubernetes/apps/base/jobs/README.md
  kubernetes/apps/base/kube-system/README.md
  kubernetes/apps/base/kube-tools/README.md
  kubernetes/apps/base/llm/README.md
  kubernetes/apps/base/maker/README.md
  kubernetes/apps/base/media/README.md
  kubernetes/apps/base/migration/README.md
  kubernetes/apps/base/network/README.md
  kubernetes/apps/base/observability/README.md
  kubernetes/apps/base/security/README.md
  kubernetes/apps/base/self-hosted/README.md
  kubernetes/apps/base/storage/README.md
  kubernetes/apps/base/tools/README.md
  kubernetes/apps/base/virtual/README.md
Labels: area/kubernetes

talos readme
  talos/README.md
Labels: area/talos

simplify flowchart
  talos/README.md
Labels: area/talos

readers perspective the structure
  talos/README.md
Labels: area/talos
