Repository sstr-dev/infrastructure, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/scripts, area/talos, area/taskfile, area/renovate, area/terraform, area/ansible, cluster/core, cluster/casa

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - .renovate/**/*
          - .renovaterc.json5
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
# Cluster
cluster/core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/core/**/*
cluster/casa:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/casa/**/*

unpoller
  kubernetes/apps/base/observability/exporters/unpoller/externalsecret.yaml
Labels: area/kubernetes

unpoller
  kubernetes/apps/casa/observability/exporters/kustomization.yaml
  kubernetes/apps/main/observability/exporters/kustomization.yaml
  kubernetes/apps/main/observability/exporters/unpoller.yaml
Labels: area/kubernetes, cluster/casa

unpoller
  kubernetes/apps/main/observability/exporters/kustomization.yaml
Labels: area/kubernetes

unpoller
  kubernetes/apps/base/observability/exporters/unpoller/externalsecret.yaml
Labels: area/kubernetes

serviceMonitor
  kubernetes/apps/base/observability/exporters/unpoller/helmrelease.yaml
Labels: area/kubernetes

optional value
  kubernetes/apps/base/observability/exporters/unpoller/helmrelease.yaml
Labels: area/kubernetes

mattrics
  kubernetes/apps/base/observability/exporters/unpoller/helmrelease.yaml
Labels: area/kubernetes

teslamate part 1
  kubernetes/apps/base/home-automation/teslamate/externalsecret.yaml
  kubernetes/apps/base/home-automation/teslamate/helmrelease.yaml
  kubernetes/apps/main/home-automation/kustomization.yaml
  kubernetes/apps/main/home-automation/teslamate.yaml
Labels: area/kubernetes

teslamate
  kubernetes/apps/main/home-automation/kustomization.yaml
Labels: area/kubernetes

DOMAIN
  kubernetes/apps/base/home-automation/teslamate/helmrelease.yaml
Labels: area/kubernetes

teslamate
  kubernetes/apps/base/home-automation/teslamate/helmrelease.yaml
Labels: area/kubernetes

dbgate
  kubernetes/apps/base/self-hosted/paperless/externalsecret.yaml
  kubernetes/apps/casa/database/dbgate/externalsecret.yaml
  kubernetes/apps/casa/database/dbgate/helmrelease.yaml
  kubernetes/apps/casa/database/dbgate/kustomization.yaml
  kubernetes/apps/main/database/dbgate.yaml
Labels: area/kubernetes, cluster/casa

dbgate
  kubernetes/apps/main/database/kustomization.yaml
Labels: area/kubernetes

fs
  kubernetes/apps/base/database/dbgate/helmrelease.yaml
Labels: area/kubernetes

dbg
  kubernetes/apps/base/database/dbgate/helmrelease.yaml
Labels: area/kubernetes

dbg
  kubernetes/apps/base/database/dbgate/helmrelease.yaml
Labels: area/kubernetes

test2
  kubernetes/apps/main/default/kustomization.yaml
  kubernetes/apps/main/default/test2.yaml
  kubernetes/apps/main/default/test2/helmrelease.yaml
Labels: area/kubernetes

test
  kubernetes/apps/main/default/test2/helmrelease.yaml
Labels: area/kubernetes

test
  kubernetes/apps/main/default/test2/helmrelease.yaml
Labels: area/kubernetes

test2
  kubernetes/apps/main/default/kustomization.yaml
Labels: area/kubernetes

test2
  kubernetes/apps/main/default/kustomization.yaml
Labels: area/kubernetes

paperless
  kubernetes/apps/casa/self-hosted/kustomization.yaml
Labels: area/kubernetes, cluster/casa

paperless
  kubernetes/apps/base/self-hosted/paperless/externalsecret.yaml
  kubernetes/apps/base/self-hosted/paperless/helmrelease.yaml
  kubernetes/apps/main/self-hosted/paperless.yaml
Labels: area/kubernetes

paperless
  kubernetes/apps/base/self-hosted/paperless/externalsecret.yaml
  kubernetes/apps/base/self-hosted/paperless/helmrelease.yaml
Labels: area/kubernetes

redis usage
  docs/redis-db-usage.md
Labels: none

test2
  kubernetes/apps/main/default/kustomization.yaml
Labels: area/kubernetes

prepare for s3
  kubernetes/apps/base/network/certificates/multi-domain-tls/certificate.yaml
  kubernetes/apps/base/storage/garage-webui/helmrelease.yaml
  kubernetes/apps/base/storage/garage-webui/kustomization.yaml
  kubernetes/apps/base/storage/garage/externalsecret.yaml
  kubernetes/apps/base/storage/garage/helmrelease.yaml
  kubernetes/apps/base/storage/garage/kustomization.yaml
  kubernetes/apps/base/storage/garage/resources/configuration.toml
  kubernetes/apps/main/storage/kustomization.yaml
  kubernetes/vars/main/secrets/cluster-secrets.sops.yaml
Labels: area/kubernetes

cert
  kubernetes/apps/base/network/certificates/multi-domain-tls/certificate.yaml
  kubernetes/vars/main/namespaces/network/secrets.sops.yaml
Labels: area/kubernetes

garage
  kubernetes/apps/main/storage/garage.yaml
  kubernetes/apps/main/storage/kustomization.yaml
Labels: area/kubernetes

nfs
  kubernetes/apps/base/storage/garage/helmrelease.yaml
Labels: area/kubernetes

garage-webui
  kubernetes/apps/main/storage/garage.yaml
Labels: area/kubernetes

ns
  kubernetes/apps/base/storage/garage/helmrelease.yaml
Labels: area/kubernetes

ignore wildcard dns
  kubernetes/apps/base/storage/garage/helmrelease.yaml
Labels: area/kubernetes

web
  kubernetes/apps/base/storage/garage/helmrelease.yaml
Labels: area/kubernetes

cnpg backup exclude experimentals
  kubernetes/apps/main/database/cloudnative-pg/timescale/backup/helmrelease.yaml
  kubernetes/apps/main/database/cloudnative-pg/vector/backup/helmrelease.yaml
Labels: area/kubernetes

prepare webhook in tools namespace
  kubernetes/apps/base/tools/webhook/externalsecret.yaml
  kubernetes/apps/base/tools/webhook/helmrelease.yaml
  kubernetes/apps/base/tools/webhook/kustomization.yaml
  kubernetes/apps/base/tools/webhook/resources/hooks.yaml
  kubernetes/apps/base/tools/webhook/resources/jellyseerr-pushover.sh
  kubernetes/apps/base/tools/webhook/resources/radarr-pushover.sh
  kubernetes/apps/base/tools/webhook/resources/sonarr-pushover.sh
  kubernetes/apps/base/tools/webhook/resources/sonarr-refresh-series.sh
  kubernetes/apps/base/tools/webhook/resources/sonarr-tag-codecs.sh
Labels: area/kubernetes

webhook
  kubernetes/apps/base/tools/webhook/externalsecret.yaml
Labels: area/kubernetes

webhook
  kubernetes/apps/main/tools/kustomization.yaml
  kubernetes/apps/main/tools/webhook.yaml
Labels: area/kubernetes

envoy-public
  docs/network-ip-usage.md
  kubernetes/apps/main/network/envoy-gateway.yaml
  kubernetes/apps/main/network/envoy-gateway/envoy.yaml
Labels: area/kubernetes

garage
  kubernetes/apps/base/storage/garage/helmrelease.yaml
Labels: area/kubernetes
