Repository sstr-dev/infrastructure, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/scripts, area/talos, area/taskfile, area/renovate, area/terraform, area/ansible, cluster/core, cluster/casa

nfty
  kubernetes/apps/base/self-hosted/mealie/externalsecret.yaml
  kubernetes/apps/base/self-hosted/ntfy/README.md
  kubernetes/apps/base/self-hosted/ntfy/externalsecret.yaml
  kubernetes/apps/base/self-hosted/ntfy/helmrelease.yaml
  kubernetes/apps/base/self-hosted/ntfy/kustomization.yaml
  kubernetes/apps/main/self-hosted/kustomization.yaml
  kubernetes/apps/main/self-hosted/ntfy.yaml
Labels: area/kubernetes

ntfy
  kubernetes/apps/base/self-hosted/ntfy/helmrelease.yaml
Labels: area/kubernetes

ntfy
  kubernetes/apps/base/self-hosted/ntfy/helmrelease.yaml
Labels: area/kubernetes

split grafana from casa cluster
  kubernetes/apps/casa/observability/grafana.yaml
  kubernetes/apps/casa/observability/grafana/dashboard/home.json
  kubernetes/apps/casa/observability/grafana/dashboard/kustomization.yaml
  kubernetes/apps/casa/observability/grafana/externalsecret.yaml
  kubernetes/apps/casa/observability/grafana/helmrelease.yaml
  kubernetes/apps/casa/observability/grafana/kustomization.yaml
Labels: area/kubernetes, cluster/casa

operator
  kubernetes/apps/base/observability/grafana/operator/externalsecret.yaml
  kubernetes/apps/base/observability/grafana/operator/helmrelease.yaml
  kubernetes/apps/base/observability/grafana/operator/kustomization.yaml
  kubernetes/apps/main/observability/grafana.yaml
  kubernetes/apps/main/observability/kustomization.yaml
Labels: area/kubernetes

grafana-instance (minimal)
  kubernetes/apps/base/observability/grafana/instance/grafana.yaml
  kubernetes/apps/base/observability/grafana/instance/grafanadashboard.yaml
  kubernetes/apps/base/observability/grafana/instance/grafanadatasource.yaml
  kubernetes/apps/base/observability/grafana/instance/kustomization.yaml
  kubernetes/apps/base/observability/grafana/instance/servicemonitor.yaml
  kubernetes/apps/main/observability/grafana.yaml
Labels: area/kubernetes

grafana-secret
  kubernetes/apps/base/observability/grafana/operator/externalsecret.yaml
Labels: area/kubernetes

rem instance
  kubernetes/apps/main/observability/grafana.yaml
Labels: area/kubernetes

add teslamate and db
  kubernetes/apps/base/observability/grafana/instance/externalsecret.yaml
  kubernetes/apps/base/observability/grafana/instance/grafana.yaml
  kubernetes/apps/base/observability/grafana/instance/grafanadatasource.yaml
  kubernetes/apps/base/observability/grafana/instance/kustomization.yaml
  kubernetes/apps/base/observability/grafana/operator/kustomization.yaml
Labels: area/kubernetes

grafana-instance
  kubernetes/apps/main/observability/grafana.yaml
Labels: area/kubernetes

db
  kubernetes/apps/base/observability/grafana/instance/externalsecret.yaml
Labels: area/kubernetes

database
  kubernetes/apps/base/observability/grafana/instance/externalsecret.yaml
Labels: area/kubernetes

datasource
  kubernetes/apps/base/observability/grafana/instance/grafanadatasource.yaml
Labels: area/kubernetes

grafanadatasource
  kubernetes/apps/base/home-automation/teslamate/grafanadatasource.yaml
  kubernetes/apps/base/home-automation/teslamate/kustomization.yaml
Labels: area/kubernetes

GrafanaDatasource
  kubernetes/apps/base/home-automation/teslamate/grafanadatasource.yaml
  kubernetes/apps/base/observability/victoria-logs/grafanadashboard.yaml
  kubernetes/apps/base/observability/victoria-logs/grafanadatasource.yaml
Labels: area/kubernetes

pre
  kubernetes/apps/base/home-automation/teslamate/kustomization.yaml
  kubernetes/apps/base/observability/victoria-logs/kustomization.yaml
Labels: area/kubernetes

datasource
  kubernetes/apps/base/home-automation/teslamate/kustomization.yaml
  kubernetes/apps/base/observability/victoria-logs/kustomization.yaml
Labels: area/kubernetes

teslamate
  kubernetes/apps/base/home-automation/teslamate/grafanadatasource.yaml
Labels: area/kubernetes

compatibility with old setup
  kubernetes/apps/base/observability/grafana/instance/grafana.yaml
Labels: area/kubernetes

prometheus-dashboards
  kubernetes/apps/base/observability/kube-prometheus-stack/grafanadashboard.yaml
Labels: area/kubernetes

grafanadashboard
  kubernetes/apps/base/observability/kube-prometheus-stack/kustomization.yaml
Labels: area/kubernetes

grafanadashboard
  kubernetes/apps/base/observability/kube-prometheus-stack/kustomization.yaml
Labels: area/kubernetes

GrafanaDashboard
  kubernetes/apps/base/external-secrets/grafanadashboard.yaml
  kubernetes/apps/base/external-secrets/kustomization.yaml
Labels: area/kubernetes

GrafanaDashboard
  kubernetes/apps/base/external-secrets/kustomization.yaml
Labels: area/kubernetes

grafanadashboard
  kubernetes/apps/base/observability/exporters/nut-exporter/dashboards/kustomization.yaml
  kubernetes/apps/base/observability/exporters/nut-exporter/dashboards/ups-status.json
  kubernetes/apps/base/observability/exporters/nut-exporter/grafanadashboard.yaml
  kubernetes/apps/base/observability/exporters/nut-exporter/kustomization.yaml
  kubernetes/apps/casa/observability/kustomization.yaml
Labels: area/kubernetes, cluster/casa

dashboards
  kubernetes/apps/base/observability/exporters/blackbox-exporter/grafanadashboard.yaml
  kubernetes/apps/base/observability/exporters/blackbox-exporter/kustomization.yaml
  kubernetes/apps/base/observability/exporters/pve-exporter/dashboards/kustomization.yaml
  kubernetes/apps/base/observability/exporters/pve-exporter/grafanadashboard.yaml
  kubernetes/apps/base/observability/exporters/pve-exporter/kustomization.yaml
Labels: area/kubernetes

Prometheus
  kubernetes/apps/base/observability/exporters/pve-exporter/dashboards/proxmox-cluster.json
Labels: area/kubernetes

ds
  kubernetes/apps/base/observability/exporters/pve-exporter/dashboards/proxmox-cluster.json
Labels: area/kubernetes

grafanadashboard
  kubernetes/apps/base/observability/exporters/pve-exporter/kustomization.yaml
Labels: area/kubernetes

grafanadashboard
  kubernetes/apps/base/observability/exporters/pve-exporter/kustomization.yaml
Labels: area/kubernetes

grafanadashboard
  kubernetes/apps/base/observability/exporters/unpoller/grafanadashboard.yaml
  kubernetes/apps/base/observability/exporters/unpoller/kustomization.yaml
Labels: area/kubernetes

grafanadashboard
  .renovate/grafanaDashboards.json5
Labels: area/renovate

grafanadashboard
  kubernetes/apps/base/home-automation/teslamate/grafanadashboard.yaml
  kubernetes/apps/base/home-automation/teslamate/kustomization.yaml
Labels: area/kubernetes

GrafanaFolder
  kubernetes/apps/base/home-automation/teslamate/grafanadashboard.yaml
Labels: area/kubernetes

teslamate-postgres
  kubernetes/apps/base/home-automation/teslamate/grafanadatasource.yaml
Labels: area/kubernetes

db
  kubernetes/apps/base/home-automation/teslamate/grafanadatasource.yaml
Labels: area/kubernetes

teslamate
  kubernetes/apps/base/home-automation/teslamate/grafanadatasource.yaml
Labels: area/kubernetes

harge-details
  kubernetes/apps/base/home-automation/teslamate/grafanadashboard.yaml
Labels: area/kubernetes

GrafanaFolder
  kubernetes/apps/base/home-automation/teslamate/grafanadashboard.yaml
Labels: area/kubernetes

teslamate-custom
  kubernetes/apps/base/home-automation/teslamate/grafanadashboard.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - .renovate/**/*
          - .renovaterc.json5
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
# Cluster
cluster/core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/core/**/*
cluster/casa:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/casa/**/*
