Repository sstr-dev/infrastructure, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/scripts, area/talos, area/taskfile, area/renovate, area/terraform, area/ansible, cluster/core, cluster/casa

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - .renovate/**/*
          - .renovaterc.json5
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
# Cluster
cluster/core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/core/**/*
cluster/casa:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/casa/**/*

docs
  docs/network-ip-usage.md
Labels: none

req and limits
  kubernetes/apps/main/database/cloudnative-pg.yaml
  kubernetes/apps/main/database/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/main/database/cloudnative-pg/timescale/cluster.yaml
  kubernetes/apps/main/database/cloudnative-pg/vector/cluster.yaml
Labels: area/kubernetes

cnpg-backup
  kubernetes/apps/main/database/cloudnative-pg.yaml
  kubernetes/apps/main/database/cloudnative-pg/cluster/backup/externalsecret.yaml
  kubernetes/apps/main/database/cloudnative-pg/cluster/backup/helmrelease.yaml
  kubernetes/apps/main/database/cloudnative-pg/cluster/backup/kustomization.yaml
Labels: area/kubernetes

cnpg-backup
  kubernetes/apps/main/database/cloudnative-pg.yaml
Labels: area/kubernetes

backup
  kubernetes/apps/main/database/cloudnative-pg/cluster/backup/helmrelease.yaml
Labels: area/kubernetes

back
  kubernetes/apps/main/database/cloudnative-pg/cluster/backup/externalsecret.yaml
Labels: area/kubernetes

disaster backups
  kubernetes/apps/main/database/cloudnative-pg.yaml
  kubernetes/apps/main/database/cloudnative-pg/timescale/backup/externalsecret.yaml
  kubernetes/apps/main/database/cloudnative-pg/timescale/backup/helmrelease.yaml
  kubernetes/apps/main/database/cloudnative-pg/timescale/backup/kustomization.yaml
  kubernetes/apps/main/database/cloudnative-pg/vector/backup/externalsecret.yaml
  kubernetes/apps/main/database/cloudnative-pg/vector/backup/helmrelease.yaml
  kubernetes/apps/main/database/cloudnative-pg/vector/backup/kustomization.yaml
Labels: area/kubernetes

nas-backup
  kubernetes/apps/base/jobs/nas-backup/externalsecret.yaml
  kubernetes/apps/base/jobs/nas-backup/helmrelease.yaml
  kubernetes/apps/base/jobs/nas-backup/kustomization.yaml
  kubernetes/apps/main/jobs/kustomization.yaml
  kubernetes/apps/main/jobs/nas-backup.yaml
  kubernetes/apps/main/jobs/publish-k8s-schemas.yaml
Labels: area/kubernetes

fix timezone and unifi dns
  kubernetes/apps/base/jobs/nas-backup/helmrelease.yaml
  kubernetes/apps/base/network/unifi-dns/helmrelease.yaml
  kubernetes/apps/main/database/cloudnative-pg.yaml
  kubernetes/apps/main/database/cloudnative-pg/cluster/backup/helmrelease.yaml
  kubernetes/apps/main/database/cloudnative-pg/timescale/backup/helmrelease.yaml
  kubernetes/apps/main/database/cloudnative-pg/vector/backup/helmrelease.yaml
  kubernetes/apps/main/database/kustomization.yaml
  kubernetes/apps/main/jobs/kustomization.yaml
  kubernetes/apps/main/jobs/nas-backup.yaml
  kubernetes/apps/main/network/unifi-dns.yaml
Labels: area/kubernetes

victoria-logs
  kubernetes/apps/base/observability/victoria-logs/grafanadashboard.yaml
  kubernetes/apps/base/observability/victoria-logs/grafanadatasource.yaml
  kubernetes/apps/base/observability/victoria-logs/helmrelease.yaml
  kubernetes/apps/base/observability/victoria-logs/kustomization.yaml
  kubernetes/apps/main/observability/kustomization.yaml
  kubernetes/apps/main/observability/victoria-logs.yaml
Labels: area/kubernetes

victoria
  kubernetes/apps/main/observability/kustomization.yaml
Labels: area/kubernetes

victoria internal gateway
  kubernetes/apps/base/observability/victoria-logs/helmrelease.yaml
  kubernetes/apps/main/observability/victoria-logs.yaml
Labels: area/kubernetes

fluent-bit
  kubernetes/apps/base/observability/fluent-bit/grafanadashboard.yaml
  kubernetes/apps/base/observability/fluent-bit/helmrelease.yaml
  kubernetes/apps/base/observability/fluent-bit/kustomization.yaml
  kubernetes/apps/main/observability/fluent-bit.yaml
  kubernetes/apps/main/observability/kustomization.yaml
Labels: area/kubernetes

kube-prometheus-stack
  kubernetes/apps/base/observability/kube-prometheus-stack/grafanadashboard.yaml
  kubernetes/apps/base/observability/kube-prometheus-stack/helmrelease.yaml
  kubernetes/apps/base/observability/kube-prometheus-stack/kustomization.yaml
  kubernetes/apps/base/observability/kube-prometheus-stack/resources/flux-metrics.yaml
  kubernetes/apps/casa/observability/kube-prometheus-stack.yaml
  kubernetes/apps/casa/observability/kube-prometheus-stack/alertmanagerconfig.yaml
  kubernetes/apps/casa/observability/kube-prometheus-stack/externalsecret.yaml
  kubernetes/apps/casa/observability/kube-prometheus-stack/helmrelease.yaml
  kubernetes/apps/casa/observability/kube-prometheus-stack/kustomization.yaml
  kubernetes/apps/main/observability/kube-prometheus-stack.yaml
  kubernetes/apps/main/observability/kustomization.yaml
Labels: area/kubernetes, cluster/casa

prometheus-node-exporter
  kubernetes/apps/base/observability/kube-prometheus-stack/helmrelease.yaml
Labels: area/kubernetes

alertmanager
  kubernetes/apps/base/observability/kube-prometheus-stack/externalsecret.yaml
Labels: area/kubernetes

observability
  kubernetes/apps/base/observability/karma/config/config.yaml
  kubernetes/apps/base/observability/karma/helmrelease.yaml
  kubernetes/apps/base/observability/karma/kustomization.yaml
  kubernetes/apps/base/observability/keda/helmrelease.yaml
  kubernetes/apps/base/observability/keda/kustomization.yaml
  kubernetes/apps/base/observability/kromgo/helmrelease.yaml
  kubernetes/apps/base/observability/kromgo/kustomization.yaml
  kubernetes/apps/base/observability/kromgo/resources/config.yaml
  kubernetes/apps/base/observability/silence-operator/helmrelease.yaml
  kubernetes/apps/base/observability/silence-operator/kustomization.yaml
  kubernetes/apps/main/observability/grafana.yaml
  kubernetes/apps/main/observability/karma.yaml
  kubernetes/apps/main/observability/keda.yaml
  kubernetes/apps/main/observability/kromgo.yaml
  kubernetes/apps/main/observability/kustomization.yaml
  kubernetes/apps/main/observability/silence-operator.yaml
  kubernetes/apps/main/observability/silences.yaml
Labels: area/kubernetes

silences
  kubernetes/apps/main/observability/kustomization.yaml
Labels: area/kubernetes

silence-operator
  kubernetes/apps/main/observability/kustomization.yaml
  kubernetes/apps/main/observability/silence-operator.yaml
  kubernetes/apps/main/observability/silences/kustomization.yaml
  kubernetes/apps/main/observability/silences/silences.yaml
Labels: area/kubernetes

nut-exporter
  kubernetes/apps/base/observability/exporters/nut-exporter/httproute.yaml
  kubernetes/apps/main/observability/exporters/blackbox-exporter.yaml
  kubernetes/apps/main/observability/exporters/kustomization.yaml
  kubernetes/apps/main/observability/exporters/nut-exporter.yaml
  kubernetes/apps/main/observability/exporters/pve-exporter.yaml
  kubernetes/apps/main/observability/kustomization.yaml
  kubernetes/apps/main/observability/nut-exporter-probes/kustomization.yaml
  kubernetes/apps/main/observability/nut-exporter-probes/probes.yaml
Labels: area/kubernetes

exporters
  kubernetes/apps/base/observability/exporters/blackbox-exporter/kustomization.yaml
  kubernetes/apps/base/observability/exporters/pve-exporter/kustomization.yaml
  kubernetes/apps/main/observability/exporters/blackbox-exporter.yaml
  kubernetes/apps/main/observability/exporters/kustomization.yaml
  kubernetes/apps/main/observability/exporters/pve-exporter.yaml
Labels: area/kubernetes

alpine based image dns resolve issue
  kubernetes/apps/base/observability/exporters/pve-exporter/helmrelease.yaml
Labels: area/kubernetes

cleanup 1
  kubernetes/apps/main/observability/kustomization.yaml
Labels: area/kubernetes

authentik s3 media
  kubernetes/apps/base/sso/authentik/externalsecret.yaml
  kubernetes/apps/base/sso/authentik/helmrelease.yaml
Labels: area/kubernetes

auth
  kubernetes/apps/base/sso/authentik/externalsecret.yaml
Labels: area/kubernetes

auth s3
  kubernetes/apps/base/sso/authentik/externalsecret.yaml
Labels: area/kubernetes

nfs
  kubernetes/apps/casa/storage-system/csi-driver-nfs.yaml
  kubernetes/apps/casa/storage-system/kustomization.yaml
Labels: area/kubernetes, cluster/casa

auth to nfs
  kubernetes/apps/base/sso/authentik/externalsecret.yaml
  kubernetes/apps/base/sso/authentik/helmrelease.yaml
  kubernetes/apps/base/sso/authentik/storage/pvc.yaml
Labels: area/kubernetes

authentik-media
  kubernetes/apps/base/sso/authentik/storage/pvc.yaml
Labels: area/kubernetes

authentik
  kubernetes/apps/base/sso/authentik/storage/pvc.yaml
Labels: area/kubernetes

for casa only local disc
  kubernetes/apps/base/sso/authentik/storage/pvc.yaml
Labels: area/kubernetes

auth
  kubernetes/apps/base/sso/authentik/storage/pvc.yaml
Labels: area/kubernetes

comment on sso and s3 backend
  kubernetes/apps/base/sso/authentik/externalsecret.yaml
Labels: area/kubernetes

volsync
  kubernetes/apps/base/storage/volsync/grafanadashboard.yaml
  kubernetes/apps/base/storage/volsync/helmrelease.yaml
  kubernetes/apps/base/storage/volsync/kustomization.yaml
  kubernetes/apps/base/storage/volsync/mutatingadmissionpolicy.yaml
  kubernetes/apps/base/storage/volsync/prometheusrule.yaml
  kubernetes/apps/main/storage/kustomization.yaml
Labels: area/kubernetes

kopia
  kubernetes/apps/base/storage/kopia/externalsecret.yaml
  kubernetes/apps/base/storage/kopia/helmrelease.yaml
  kubernetes/apps/base/storage/kopia/kustomization.yaml
  kubernetes/apps/main/storage/kopia.yaml
  kubernetes/apps/main/storage/kustomization.yaml
  kubernetes/apps/main/storage/volsync-maintenance.yaml
  kubernetes/components/nfs-scaler/kustomization.yaml
  kubernetes/components/nfs-scaler/scaledobject.yaml
Labels: area/kubernetes

volsync-maintenance
  kubernetes/apps/base/storage/kopia/init-job.yaml
  kubernetes/apps/base/storage/volsync-maintenance/externalsecret.yaml
  kubernetes/apps/base/storage/volsync-maintenance/kopiamaintenance.yaml
  kubernetes/apps/base/storage/volsync-maintenance/kustomization.yaml
  kubernetes/apps/base/storage/volsync-maintenance/mutatingadmissionpolicy.yaml
  kubernetes/apps/main/storage/kustomization.yaml
  kubernetes/apps/main/storage/volsync-maintenance.yaml
Labels: area/kubernetes

longhorn
  kubernetes/apps/base/storage/longhorn/helmrelease.yaml
  kubernetes/apps/base/storage/longhorn/httproute.yaml
  kubernetes/apps/base/storage/longhorn/kustomization.yaml
  kubernetes/apps/base/storage/longhorn/recurringjob.yaml
  kubernetes/apps/base/storage/longhorn/snapshot.yaml
  kubernetes/apps/main/storage/kustomization.yaml
  kubernetes/apps/main/storage/longhorn.yaml
  kubernetes/components/volsync/README.md
  kubernetes/components/volsync/externalsecret.yaml
  kubernetes/components/volsync/kustomization.yaml
  kubernetes/components/volsync/pvc.yaml
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

longhorn-jobs
  kubernetes/apps/base/storage/longhorn/jobs/kustomization.yaml
  kubernetes/apps/base/storage/longhorn/jobs/recurringjob.yaml
  kubernetes/apps/main/storage/longhorn.yaml
Labels: area/kubernetes

longhorn
  kubernetes/apps/main/storage/longhorn.yaml
Labels: area/kubernetes

externalsecret
  kubernetes/apps/base/storage/longhorn/externalsecret.yaml
  kubernetes/apps/base/storage/longhorn/helmrelease.yaml
  kubernetes/apps/base/storage/longhorn/kustomization.yaml
Labels: area/kubernetes
