Repository sstr-dev/infrastructure, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/scripts, area/talos, area/taskfile, area/renovate, area/terraform, area/ansible, cluster/core, cluster/casa

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - .renovate/**/*
          - .renovaterc.json5
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
# Cluster
cluster/core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/core/**/*
cluster/casa:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/casa/**/*

mealie
  kubernetes/apps/base/self-hosted/mealie/externalsecret.yaml
  kubernetes/apps/casa/self-hosted/kustomization.yaml
  kubernetes/apps/main/self-hosted/kustomization.yaml
  kubernetes/apps/main/self-hosted/mealie.yaml
  kubernetes/components/vol/base/kustomization.yaml
  kubernetes/components/vol/base/pvc.yaml
Labels: area/kubernetes, cluster/casa

mealie
  kubernetes/apps/main/self-hosted/mealie.yaml
Labels: area/kubernetes

dependsOn
  kubernetes/apps/main/self-hosted/mealie.yaml
Labels: area/kubernetes

mealie
  kubernetes/apps/base/self-hosted/mealie/externalsecret.yaml
  kubernetes/apps/base/self-hosted/mealie/helmrelease.yaml
  kubernetes/apps/main/self-hosted/mealie.yaml
Labels: area/kubernetes

privatebin
  kubernetes/apps/casa/self-hosted/kustomization.yaml
  kubernetes/apps/main/self-hosted/kustomization.yaml
  kubernetes/apps/main/self-hosted/privatebin.yaml
Labels: area/kubernetes, cluster/casa

privatebin
  kubernetes/apps/base/self-hosted/privatebin/helmrelease.yaml
  kubernetes/apps/main/self-hosted/privatebin.yaml
Labels: area/kubernetes

harbor
  kubernetes/apps/casa/dev/kustomization.yaml
Labels: area/kubernetes, cluster/casa

harbor
  kubernetes/apps/base/dev/harbor/externalsecret.yaml
  kubernetes/apps/base/dev/harbor/helmrelease.yaml
  kubernetes/apps/base/dev/harbor/httproute.yaml
  kubernetes/apps/base/dev/harbor/kustomization.yaml
  kubernetes/apps/main/dev/harbor.yaml
  kubernetes/apps/main/dev/kustomization.yaml
Labels: area/kubernetes

registry
  kubernetes/apps/base/dev/harbor/helmrelease.yaml
Labels: area/kubernetes

dev readme
  kubernetes/apps/base/dev/README.md
Labels: area/kubernetes

readme
  kubernetes/apps/base/dev/README.md
Labels: area/kubernetes

migrate opencloud part 1
  kubernetes/apps/base/self-hosted/opencloud/helmrelease.yaml
  kubernetes/apps/casa/self-hosted/kustomization.yaml
  kubernetes/apps/main/self-hosted/kustomization.yaml
  kubernetes/apps/main/self-hosted/opencloud.yaml
Labels: area/kubernetes, cluster/casa

opencloud
  kubernetes/apps/base/self-hosted/opencloud/externalsecret.yaml
  kubernetes/apps/base/self-hosted/opencloud/helmrelease.yaml
  kubernetes/apps/main/self-hosted/opencloud.yaml
Labels: area/kubernetes

oc fix
  kubernetes/apps/base/self-hosted/opencloud/externalsecret.yaml
Labels: area/kubernetes

rem ocsi
  kubernetes/apps/base/self-hosted/paperless/externalsecret.yaml
  kubernetes/apps/base/self-hosted/paperless/helmrelease.yaml
  kubernetes/apps/casa/self-hosted/kustomization.yaml
Labels: area/kubernetes, cluster/casa

paperless prepare
  kubernetes/apps/main/self-hosted/kustomization.yaml
  kubernetes/apps/main/self-hosted/paperless.yaml
Labels: area/kubernetes

en node-exporter
  kubernetes/apps/base/observability/kube-prometheus-stack/helmrelease.yaml
Labels: area/kubernetes

envoy resources
  kubernetes/apps/main/network/envoy-gateway/envoy.yaml
Labels: area/kubernetes

keda karma kromgo
  kubernetes/apps/base/observability/karma/config/config.yaml
  kubernetes/apps/base/observability/keda/helmrelease.yaml
  kubernetes/apps/base/observability/kromgo/resources/config.yaml
Labels: area/kubernetes

blackbox-exporter-probes
  kubernetes/apps/main/observability/blackbox-exporter-probes/kustomization.yaml
  kubernetes/apps/main/observability/blackbox-exporter-probes/probes.yaml
  kubernetes/apps/main/observability/exporters/blackbox-exporter.yaml
Labels: area/kubernetes

node exporter
  kubernetes/apps/base/observability/kube-prometheus-stack/helmrelease.yaml
  kubernetes/apps/main/observability/exporters/kustomization.yaml
  kubernetes/apps/main/observability/exporters/node-exporter.yaml
  kubernetes/apps/main/observability/node-exporter-probes/kustomization.yaml
  kubernetes/apps/main/observability/node-exporter-probes/probes.yaml
Labels: area/kubernetes

VolSyncVolumeOutOfSync ignore test
  kubernetes/apps/base/storage/volsync/prometheusrule.yaml
Labels: area/kubernetes

fix prom alert rule (volsync fork)
  kubernetes/apps/base/storage/volsync/helmrelease.yaml
Labels: area/kubernetes

optimize prom
  kubernetes/apps/base/observability/kube-prometheus-stack/helmrelease.yaml
Labels: area/kubernetes

mariadb
  docs/network-ip-usage.md
  kubernetes/apps/base/database/mariadb/server/check.sh
  kubernetes/apps/base/database/mariadb/server/externalsecret.yaml
  kubernetes/apps/base/database/mariadb/server/helmrelease.yaml
  kubernetes/apps/base/database/mariadb/server/kustomization.yaml
  kubernetes/apps/main/database/kustomization.yaml
  kubernetes/apps/main/database/mariadb.yaml
Labels: area/kubernetes

mariadb
  kubernetes/apps/base/database/mariadb-server/check.sh
  kubernetes/apps/base/database/mariadb-server/externalsecret.yaml
  kubernetes/apps/base/database/mariadb-server/helmrelease.yaml
  kubernetes/apps/base/database/mariadb-server/kustomization.yaml
  kubernetes/apps/main/database/mariadb.yaml
Labels: area/kubernetes

mariadb
  kubernetes/apps/base/database/mariadb-server/externalsecret.yaml
  kubernetes/apps/main/database/mariadb.yaml
Labels: area/kubernetes

update
  kubernetes/apps/base/database/mariadb-server/check.sh
Labels: area/kubernetes

probes
  kubernetes/apps/base/database/mariadb-server/helmrelease.yaml
Labels: area/kubernetes

mariadb
  kubernetes/apps/base/database/mariadb-server/helmrelease.yaml
Labels: area/kubernetes

check
  kubernetes/apps/base/database/mariadb-server/check.sh
  kubernetes/apps/base/database/mariadb-server/helmrelease.yaml
Labels: area/kubernetes

snipe-it
  .taskfiles/Database/Taskfile.yaml
  kubernetes/apps/base/self-hosted/snipe-it/externalsecret.yaml
  kubernetes/apps/base/self-hosted/snipe-it/helmrelease.yaml
  kubernetes/apps/casa/self-hosted/kustomization.yaml
  kubernetes/apps/main/self-hosted/kustomization.yaml
  kubernetes/apps/main/self-hosted/snipe-it.yaml
Labels: area/kubernetes, area/taskfile, cluster/casa

snipe
  kubernetes/apps/main/self-hosted/snipe-it.yaml
Labels: area/kubernetes

snipe
  kubernetes/apps/base/self-hosted/snipe-it/helmrelease.yaml
Labels: area/kubernetes

backup
  kubernetes/apps/base/database/mariadb-server/backup/externalsecret.yaml
  kubernetes/apps/base/database/mariadb-server/backup/helmrelease.yaml
  kubernetes/apps/base/database/mariadb-server/backup/kustomization.yaml
  kubernetes/apps/main/database/mariadb.yaml
Labels: area/kubernetes

update image with webhook defaults
  kubernetes/apps/base/database/mariadb-server/backup/helmrelease.yaml
  kubernetes/apps/base/jobs/nas-backup/helmrelease.yaml
Labels: area/kubernetes

switch to backup-local
  kubernetes/apps/main/database/cloudnative-pg/cluster/backup/helmrelease.yaml
  kubernetes/apps/main/database/cloudnative-pg/timescale/backup/helmrelease.yaml
  kubernetes/apps/main/database/cloudnative-pg/vector/backup/helmrelease.yaml
Labels: area/kubernetes

preparation for cluster move
  kubernetes/apps/base/home-automation/teslamate/externalsecret.yaml
  kubernetes/apps/base/home-automation/teslamate/helmrelease.yaml
  kubernetes/apps/base/observability/grafana/externalsecret.yaml
  kubernetes/apps/base/observability/grafana/helmrelease.yaml
Labels: area/kubernetes

loading blocker
  kubernetes/apps/base/observability/grafana/helmrelease.yaml
Labels: area/kubernetes

prepare for unpoller
  kubernetes/apps/base/observability/exporters/unpoller/externalsecret.yaml
  kubernetes/apps/base/observability/exporters/unpoller/helmrelease.yaml
  kubernetes/apps/base/observability/exporters/unpoller/kustomization.yaml
Labels: area/kubernetes
