Repository sstr-dev/infrastructure, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/scripts, area/talos, area/taskfile, area/renovate, area/terraform, area/ansible, cluster/core, cluster/casa

fix rrenovate path
  .renovaterc.json5
Labels: area/renovate

url
  kubernetes/clusters/casa-rke2/flux-instance/helm/values.yaml
  kubernetes/clusters/core-rke2/flux-instance/helm/values.yaml
Labels: area/kubernetes

url
  kubernetes/clusters/casa-rke2/flux-instance/helm/values.yaml
  kubernetes/clusters/core-rke2/flux-instance/helm/values.yaml
Labels: area/kubernetes

fix sops
  kubernetes/clusters/core-rke2/bootstrap/age-key.sops.yaml
Labels: area/kubernetes

runner
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/runners/home-ops-runner-dind/externalsecret.yaml
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/runners/home-ops-runner-dind/helmrelease.yaml
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/runners/home-ops-runner/externalsecret.yaml
  kubernetes/apps/base/actions-runner-system/actions-runner-controller/runners/home-ops-runner/helmrelease.yaml
Labels: area/kubernetes

rr
  kubernetes/apps/casa/actions-runner-system/kustomization.yaml
Labels: area/kubernetes, cluster/casa

actions-runner-home-ops
  kubernetes/apps/casa/actions-runner-system/kustomization.yaml
Labels: area/kubernetes, cluster/casa

runners
  kubernetes/apps/casa/actions-runner-system/kustomization.yaml
Labels: area/kubernetes, cluster/casa

runner
  kubernetes/apps/casa/actions-runner-system/kustomization.yaml
Labels: area/kubernetes, cluster/casa

runn
  kubernetes/apps/casa/actions-runner-system/kustomization.yaml
Labels: area/kubernetes, cluster/casa

runner
  kubernetes/apps/casa/actions-runner-system/kustomization.yaml
Labels: area/kubernetes, cluster/casa

runner
  kubernetes/apps/casa/actions-runner-system/kustomization.yaml
Labels: area/kubernetes, cluster/casa

gatus component (WIP)
  kubernetes/components/gatus/external/config.yaml
  kubernetes/components/gatus/external/kustomization.yaml
  kubernetes/components/gatus/guarded/config.yaml
  kubernetes/components/gatus/guarded/kustomization.yaml
Labels: area/kubernetes

gatus pushover
  kubernetes/apps/base/observability/gatus/externalsecret.yaml
  kubernetes/apps/base/observability/gatus/helmrelease.yaml
  kubernetes/apps/base/observability/gatus/kustomization.yaml
  kubernetes/apps/casa/observability/config/gatus/gatus-config.yaml
Labels: area/kubernetes, cluster/casa

grafana gatus
  kubernetes/apps/base/observability/grafana/helmrelease.yaml
  kubernetes/apps/casa/observability/grafana.yaml
  kubernetes/components/gatus/external/base/config.yaml
  kubernetes/components/gatus/external/base/kustomization.yaml
Labels: area/kubernetes, cluster/casa

path
  kubernetes/apps/casa/observability/grafana.yaml
Labels: area/kubernetes, cluster/casa

dev
  kubernetes/components/gatus/external/dev/config.yaml
  kubernetes/components/gatus/external/dev/kustomization.yaml
  kubernetes/components/gatus/guarded/base/config.yaml
  kubernetes/components/gatus/guarded/base/kustomization.yaml
Labels: area/kubernetes

gatus
  kubernetes/apps/casa/observability/grafana.yaml
Labels: area/kubernetes, cluster/casa

gatus
  kubernetes/apps/casa/observability/grafana.yaml
Labels: area/kubernetes, cluster/casa

gatus internal (WIP)
  kubernetes/components/gatus/internal/config.yaml
  kubernetes/components/gatus/internal/kustomization.yaml
Labels: area/kubernetes

gatus ui
  kubernetes/apps/casa/observability/config/gatus/gatus-config.yaml
Labels: area/kubernetes, cluster/casa

naming
  kubernetes/apps/casa/observability/config/gatus/gatus-config.yaml
Labels: area/kubernetes, cluster/casa

gatus component options
  kubernetes/components/gatus/external/base/config.yaml
  kubernetes/components/gatus/external/config.yaml
  kubernetes/components/gatus/external/dev/config.yaml
  kubernetes/components/gatus/guarded/base/config.yaml
  kubernetes/components/gatus/guarded/config.yaml
  kubernetes/components/gatus/internal/config.yaml
Labels: area/kubernetes

gatus add oidc
  kubernetes/apps/base/observability/gatus/externalsecret.yaml
  kubernetes/apps/base/observability/gatus/helmrelease.yaml
  kubernetes/apps/casa/observability/config/gatus/gatus-config.yaml
Labels: area/kubernetes, cluster/casa

fix gatus config
  kubernetes/apps/casa/observability/config/gatus/gatus-config.yaml
Labels: area/kubernetes, cluster/casa

after secure gatus show hidden url
  kubernetes/apps/casa/observability/config/gatus/gatus-config.yaml
  kubernetes/components/gatus/external/base/config.yaml
  kubernetes/components/gatus/external/dev/config.yaml
Labels: area/kubernetes, cluster/casa

restruct and gatus
  kubernetes/apps/casa/dev/harbor.yaml
  kubernetes/apps/casa/observability/config/gatus/gatus-config.yaml
  kubernetes/apps/casa/self-hosted/change-detection.yaml
  kubernetes/apps/casa/self-hosted/config/homepage/externalsecret.yaml
  kubernetes/apps/casa/self-hosted/config/homepage/files/bookmarks.yaml
  kubernetes/apps/casa/self-hosted/config/homepage/files/custom.css
  kubernetes/apps/casa/self-hosted/config/homepage/files/custom.js
  kubernetes/apps/casa/self-hosted/config/homepage/files/docker.yaml
  kubernetes/apps/casa/self-hosted/config/homepage/files/kubernetes.yaml
  kubernetes/apps/casa/self-hosted/config/homepage/files/services.yaml
  kubernetes/apps/casa/self-hosted/config/homepage/files/settings.yaml
  kubernetes/apps/casa/self-hosted/config/homepage/files/widgets.yaml
  kubernetes/apps/casa/self-hosted/config/homepage/kustomization.yaml
  kubernetes/apps/casa/self-hosted/convertx.yaml
  kubernetes/apps/casa/self-hosted/cyberchef.yaml
  kubernetes/apps/casa/self-hosted/drawio.yaml
  kubernetes/apps/casa/self-hosted/homepage.yaml
  kubernetes/apps/casa/self-hosted/it-tools.yaml
  kubernetes/apps/casa/self-hosted/kustomization.yaml
  kubernetes/apps/casa/self-hosted/mealie.yaml
  kubernetes/apps/casa/self-hosted/ocis.yaml
  kubernetes/apps/casa/self-hosted/opencloud.yaml
  kubernetes/apps/casa/self-hosted/openspeedtest.yaml
  kubernetes/apps/casa/self-hosted/paperless-gotenberg.yaml
  kubernetes/apps/casa/self-hosted/paperless-tika.yaml
  kubernetes/apps/casa/self-hosted/paperless.yaml
  kubernetes/apps/casa/self-hosted/part-db.yaml
  kubernetes/apps/casa/self-hosted/photon.yaml
  kubernetes/apps/casa/self-hosted/privatebin.yaml
  kubernetes/apps/casa/self-hosted/snipe-it.yaml
  kubernetes/apps/casa/self-hosted/tandoor.yaml
  kubernetes/vars/casa/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/casa

gatus
  kubernetes/apps/casa/observability/config/gatus/gatus-config.yaml
Labels: area/kubernetes, cluster/casa

gatus
  kubernetes/apps/casa/observability/config/gatus/gatus-config.yaml
Labels: area/kubernetes, cluster/casa

reeadme
  README.md
  kubernetes/apps/base/3d-print/README.md
  kubernetes/apps/base/actions-runner-system/README.md
  kubernetes/apps/base/automation/README.md
  kubernetes/apps/base/cert-manager/README.md
  kubernetes/apps/base/database/README.md
  kubernetes/apps/base/dev/README.md
Labels: area/docs, area/kubernetes

readme
  kubernetes/apps/base/download/README.md
  kubernetes/apps/base/home-automation/README.md
  kubernetes/apps/base/kube-tools/README.md
  kubernetes/apps/base/media/README.md
  kubernetes/apps/base/network/README.md
  kubernetes/apps/base/observability/README.md
  kubernetes/apps/base/security/README.md
  kubernetes/apps/base/self-hosted/README.md
  kubernetes/apps/base/sso/README.md
  kubernetes/apps/base/storage-system/README.md
  kubernetes/apps/base/vpn-gateway/README.md
Labels: area/kubernetes

format
  kubernetes/apps/base/kube-tools/README.md
Labels: area/kubernetes

Create SECURITY.md
  SECURITY.md
Labels: none

update readme
  README.md
Labels: area/docs

-epicgames notify
  kubernetes/apps/casa/games/kustomization.yaml
Labels: area/kubernetes, cluster/casa

obico base
  kubernetes/apps/base/3d-print/README.md
  kubernetes/apps/base/3d-print/obico/helmrelease.yaml
Labels: area/kubernetes

postgres-dev-cluster
  kubernetes/apps/casa/dev/kustomization.yaml
  kubernetes/apps/casa/dev/postgres-dev-cluster.yaml
Labels: area/kubernetes, cluster/casa

healthcheck correction
  kubernetes/apps/casa/dev/postgres-dev-cluster.yaml
Labels: area/kubernetes, cluster/casa

calibre-downloader starting issue
  kubernetes/apps/casa/download/kustomization.yaml
Labels: area/kubernetes, cluster/casa

gatus cfg
  kubernetes/apps/casa/observability/config/gatus/gatus-config.yaml
Labels: area/kubernetes, cluster/casa

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - .renovate/**/*
          - .renovaterc.json5
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
# Cluster
cluster/core:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/core/**/*
cluster/casa:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/casa/**/*
